#  <b><span style="color:#14c8b3"><center> Recommendation System STEP  </span></b> </center>


   

<span> <center><img src="https://miro.medium.com/max/640/1*D8qyeXxlbHFUlpZtfjvM7Q.png" width="700" /></span>

### Importing Packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, precision_recall_curve,f1_score, fbeta_score,accuracy_score

# Feature Engineering
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA

from sklearn import svm

import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

from sklearn.impute import SimpleImputer
from sklearn.model_selection import KFold

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.svm import SVR


from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline


from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn import tree

from sklearn.ensemble import StackingClassifier

from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler 
from sklearn.metrics import fbeta_score, make_scorer
from sklearn.model_selection import cross_validate

from xgboost import XGBClassifier
from xgboost import XGBRegressor
# Dataprep
# Modeling 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score 
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier,VotingClassifier
from imblearn.combine import SMOTEENN #resampling
from sklearn import datasets, linear_model, metrics
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler
#Import pipeline to allow you to do multiple steps at once
from imblearn.pipeline import Pipeline, make_pipeline

# Plot style
plt.style.use("seaborn-whitegrid")

import warnings
warnings.filterwarnings('ignore')


***

## Loading Dataset


***

In [2]:
#Reading the file
df = pd.read_csv("data_jobs1.csv")

In [3]:
df.head()

,Unnamed: 0,position,company,level,job_functions,industries,description,day,month,quarter,city,Regions,industry_cat,TotalPositions,PositionsByMonth,year_of_ex,degrees
0,0,Employee Engagement Specialist,PepsiCo,MidSenior level,Human Resources,Consumer Goods Food Beverages,auto req id 199735brjob descriptionpepsico sa...,6,1,1,Riyadh,Riyadh,Consumer Goods,219,2339,3,bachelor
1,1,Account Manager GPS Riyadh,EY,Not Applicable,Sales Business Development,Accounting Financial Services,in a business where are our people are our pro...,6,1,1,Riyadh,Riyadh,Accounting,101,2339,7,bachelor
2,2,Business Analyst,تطوير تقنيات التعليم Tatweer Educational Tech...,MidSenior level,Business Development Sales,Information Technology and Services,the ideal candidate will design organize and...,6,1,1,Riyadh,Riyadh,Information Technology and Services,16,2339,5,bachelor
3,3,Talent Acquisition Advisor,WSP in the Middle East,Associate,Finance,Construction,think bigger scale think higher profile thin...,6,1,1,Riyadh,Riyadh,Construction,43,2339,5,bachelor
4,4,Organisational Design Specialist,Aventus Global Talent,MidSenior level,Human Resources Design,Financial Services Banking,organisational design specialist eastern regi...,6,1,1,Remote,Remote,Financial Services,28,2339,5,bachelor

In [4]:
#data.column method returns an array of columns list. 
df.columns

Index(['Unnamed: 0', 'position', 'company', 'level', 'job_functions',
       'industries', 'description', 'day', 'month', 'quarter', 'city',
       'Regions', 'industry_cat', 'TotalPositions', 'PositionsByMonth',
       'year_of_ex', 'degrees'],
      dtype='object')

In [5]:
#dimensions of a given DataFrame.
df.shape

(40500, 17)

In [6]:
df.describe()

,Unnamed: 0,day,month,quarter,TotalPositions,PositionsByMonth,year_of_ex
count,40500.000000,40500.000000,40500.000000,40500.000000,40500.000000,40500.000000,40500.000000
mean,20249.500000,16.501852,8.114025,2.991383,166.897333,4459.400840,3.162691
std,11691.487288,8.712515,3.410742,1.094917,284.505201,2075.751616,1.771476
min,0.000000,1.000000,1.000000,1.000000,1.000000,2160.000000,0.000000
25%,10124.750000,9.000000,5.000000,2.000000,9.000000,2531.000000,3.000000
50%,20249.500000,17.000000,9.000000,3.000000,40.000000,4031.000000,3.000000
75%,30374.250000,24.000000,11.000000,4.000000,172.000000,6071.000000,3.000000
max,40499.000000,31.000000,12.000000,4.000000,1266.000000,7809.000000,9.000000

In [7]:
#Drop Unnamed: 0 column
df= df.drop(['Unnamed: 0'], axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40500 entries, 0 to 40499
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   position          40500 non-null  object
 1   company           40498 non-null  object
 2   level             40500 non-null  object
 3   job_functions     40500 non-null  object
 4   industries        40500 non-null  object
 5   description       40500 non-null  object
 6   day               40500 non-null  int64
 7   month             40500 non-null  int64
 8   quarter           40500 non-null  int64
 9   city              40500 non-null  object
 10  Regions           40500 non-null  object
 11  industry_cat      40500 non-null  object
 12  TotalPositions    40500 non-null  int64
 13  PositionsByMonth  40500 non-null  int64
 14  year_of_ex        40500 non-null  int64
 15  degrees           40500 non-null  object
dtypes: int64(6), object(10)
memory usage: 4.9+ MB

In [9]:
df.isna().sum()

position            0
company             2
level               0
job_functions       0
industries          0
description         0
day                 0
month               0
quarter             0
city                0
Regions             0
industry_cat        0
TotalPositions      0
PositionsByMonth    0
year_of_ex          0
degrees             0
dtype: int64

In [10]:
df.degrees.value_counts()

bachelor     33879
master        3924
diploma       2639
Doctorate       58
Name: degrees, dtype: int64

In [11]:
df.head()

,position,company,level,job_functions,industries,description,day,month,quarter,city,Regions,industry_cat,TotalPositions,PositionsByMonth,year_of_ex,degrees
0,Employee Engagement Specialist,PepsiCo,MidSenior level,Human Resources,Consumer Goods Food Beverages,auto req id 199735brjob descriptionpepsico sa...,6,1,1,Riyadh,Riyadh,Consumer Goods,219,2339,3,bachelor
1,Account Manager GPS Riyadh,EY,Not Applicable,Sales Business Development,Accounting Financial Services,in a business where are our people are our pro...,6,1,1,Riyadh,Riyadh,Accounting,101,2339,7,bachelor
2,Business Analyst,تطوير تقنيات التعليم Tatweer Educational Tech...,MidSenior level,Business Development Sales,Information Technology and Services,the ideal candidate will design organize and...,6,1,1,Riyadh,Riyadh,Information Technology and Services,16,2339,5,bachelor
3,Talent Acquisition Advisor,WSP in the Middle East,Associate,Finance,Construction,think bigger scale think higher profile thin...,6,1,1,Riyadh,Riyadh,Construction,43,2339,5,bachelor
4,Organisational Design Specialist,Aventus Global Talent,MidSenior level,Human Resources Design,Financial Services Banking,organisational design specialist eastern regi...,6,1,1,Remote,Remote,Financial Services,28,2339,5,bachelor

In [12]:
df.columns

Index(['position', 'company', 'level', 'job_functions', 'industries',
       'description', 'day', 'month', 'quarter', 'city', 'Regions',
       'industry_cat', 'TotalPositions', 'PositionsByMonth', 'year_of_ex',
       'degrees'],
      dtype='object')

In [13]:
df.Regions.value_counts()

Riyadh              18542
Remote               8249
Eastern              5276
Makkah               5231
Medina               1645
Jazan                 739
AlQassim              294
Tabuk                 200
Asir                  145
NotDefind              49
AlJawf                 35
Northern Borders       30
Hail                   29
AlBahah                29
Najran                  7
Name: Regions, dtype: int64

In [14]:
# Encoding the "contract" using LabelEncoder
le = LabelEncoder()

df['Regions'] = le.fit_transform(df['Regions'])

In [15]:
le.classes_

array(['AlBahah', 'AlJawf ', 'AlQassim', 'Asir', 'Eastern', 'Hail',
       'Jazan', 'Makkah', 'Medina', 'Najran', 'Northern Borders',
       'NotDefind', 'Remote', 'Riyadh', 'Tabuk'], dtype=object)

In [16]:
df.level.value_counts()

MidSenior level    12090
Entry level        10696
Associate          10411
Not Applicable      3870
Director            2265
Executive            791
Internship           377
Name: level, dtype: int64

In [17]:
df.industry_cat.value_counts()

Information Technology and Services    6203
Construction                           3658
Marketing and Advertising              1894
Consumer Goods                         1584
Computer Software                      1481
                                       ...
Glass Ceramics                            3
Photography                               2
Quality Assurance                         1
Customer Service Sales                    1
Fine Art                                  1
Name: industry_cat, Length: 130, dtype: int64

In [18]:
df.head()

,position,company,level,job_functions,industries,description,day,month,quarter,city,Regions,industry_cat,TotalPositions,PositionsByMonth,year_of_ex,degrees
0,Employee Engagement Specialist,PepsiCo,MidSenior level,Human Resources,Consumer Goods Food Beverages,auto req id 199735brjob descriptionpepsico sa...,6,1,1,Riyadh,13,Consumer Goods,219,2339,3,bachelor
1,Account Manager GPS Riyadh,EY,Not Applicable,Sales Business Development,Accounting Financial Services,in a business where are our people are our pro...,6,1,1,Riyadh,13,Accounting,101,2339,7,bachelor
2,Business Analyst,تطوير تقنيات التعليم Tatweer Educational Tech...,MidSenior level,Business Development Sales,Information Technology and Services,the ideal candidate will design organize and...,6,1,1,Riyadh,13,Information Technology and Services,16,2339,5,bachelor
3,Talent Acquisition Advisor,WSP in the Middle East,Associate,Finance,Construction,think bigger scale think higher profile thin...,6,1,1,Riyadh,13,Construction,43,2339,5,bachelor
4,Organisational Design Specialist,Aventus Global Talent,MidSenior level,Human Resources Design,Financial Services Banking,organisational design specialist eastern regi...,6,1,1,Remote,12,Financial Services,28,2339,5,bachelor

In [19]:
highest_jobs=df.loc[:,['position','TotalPositions','year_of_ex','degrees']]   
highest_jobs

                                position  TotalPositions  year_of_ex   degrees
0         Employee Engagement Specialist             219           3  bachelor
1            Account Manager GPS  Riyadh             101           7  bachelor
2                       Business Analyst              16           5  bachelor
3             Talent Acquisition Advisor              43           5  bachelor
4       Organisational Design Specialist              28           5  bachelor
...                                  ...             ...         ...       ...
40495                    Sales Associate             541           3   diploma
40496                                 SA             541           3  bachelor
40497         Restaurant Manager  Nandos             541           0  bachelor
40498      Restaurant Supervisor  Nandos             541           4  bachelor
40499  Group Exercise  Personal Training             541           1  bachelor

[40500 rows x 4 columns]

In [20]:
total_position_each_job=highest_jobs[['position','TotalPositions','year_of_ex','degrees']].head(10)

In [21]:
total_position_each_job

,position,TotalPositions,year_of_ex,degrees
0,Employee Engagement Specialist,219,3,bachelor
1,Account Manager GPS Riyadh,101,7,bachelor
2,Business Analyst,16,5,bachelor
3,Talent Acquisition Advisor,43,5,bachelor
4,Organisational Design Specialist,28,5,bachelor
5,Quality Specialist,23,2,bachelor
6,Events Operations Manager,24,3,bachelor
7,Business Analyst,6,3,bachelor
8,Program ManagerEasternSouthernNorthernWestern ...,22,8,bachelor
9,Project manager,364,2,bachelor

In [22]:
total_position_each_job.columns

Index(['position', 'TotalPositions', 'year_of_ex', 'degrees'], dtype='object')

### Recommendation System

In [23]:
df.head(1)

,position,company,level,job_functions,industries,description,day,month,quarter,city,Regions,industry_cat,TotalPositions,PositionsByMonth,year_of_ex,degrees
0,Employee Engagement Specialist,PepsiCo,MidSenior level,Human Resources,Consumer Goods Food Beverages,auto req id 199735brjob descriptionpepsico sa...,6,1,1,Riyadh,13,Consumer Goods,219,2339,3,bachelor

### corpus text
combining the columns of position,level,job_functions,industries,industry_cat, company,region and degrees

In [24]:
df["text"] = df["position"].map(str) + " " +df["level"] + " " + df["job_functions"] +" "+ df["industries"]+ " "+df['industry_cat'] +" "+df['company'] +" "+df['city'] +" "+df['degrees']
df.head(2)

,position,company,level,job_functions,industries,description,day,month,quarter,city,Regions,industry_cat,TotalPositions,PositionsByMonth,year_of_ex,degrees,text
0,Employee Engagement Specialist,PepsiCo,MidSenior level,Human Resources,Consumer Goods Food Beverages,auto req id 199735brjob descriptionpepsico sa...,6,1,1,Riyadh,13,Consumer Goods,219,2339,3,bachelor,Employee Engagement Specialist MidSenior level...
1,Account Manager GPS Riyadh,EY,Not Applicable,Sales Business Development,Accounting Financial Services,in a business where are our people are our pro...,6,1,1,Riyadh,13,Accounting,101,2339,7,bachelor,Account Manager GPS Riyadh Not Applicable Sal...

In [25]:
df['text'] = df['text'].str.lower() 
df.text[0]

'employee engagement specialist midsenior level human resources consumer goods food  beverages consumer goods pepsico riyadh bachelor'

In [26]:
df['year_of_ex'] = df['year_of_ex'].map({0:'Zero', 1:'One',2:'Two',3:'Three', 4:'Four', 5:'Five',6: 'Sex', 7:'Seven', 8:'Eight', 9:'Nine'})

### Let's find out Similar jobs

In [27]:
df.year_of_ex.value_counts()

Three    20967
Five      5709
Zero      4264
Two       4150
Eight     1383
Four      1369
One       1050
Seven      880
Sex        653
Nine        75
Name: year_of_ex, dtype: int64

In [28]:
df.head().transpose()

,0,1,2,3,4
position,Employee Engagement Specialist,Account Manager GPS Riyadh,Business Analyst,Talent Acquisition Advisor,Organisational Design Specialist
company,PepsiCo,EY,تطوير تقنيات التعليم Tatweer Educational Tech...,WSP in the Middle East,Aventus Global Talent
level,MidSenior level,Not Applicable,MidSenior level,Associate,MidSenior level
job_functions,Human Resources,Sales Business Development,Business Development Sales,Finance,Human Resources Design
industries,Consumer Goods Food Beverages,Accounting Financial Services,Information Technology and Services,Construction,Financial Services Banking
description,auto req id 199735brjob descriptionpepsico sa...,in a business where are our people are our pro...,the ideal candidate will design organize and...,think bigger scale think higher profile thin...,organisational design specialist eastern regi...
day,6,6,6,6,6
month,1,1,1,1,1
quarter,1,1,1,1,1
city,Riyadh,Riyadh,Riyadh,Riyadh,Remote
Regions,13,13,13,13,12
industry_cat,Consumer Goods,Accounting,Information Technology and Services,Construction,Financial Services
TotalPositions,219,101,16,43,28
PositionsByMonth,2339,2339,2339,2339,2339
year_of_ex,Three,Seven,Five,Five,Five
degrees,bachelor,bachelor,bachelor,bachelor,bachelor
text,employee engagement specialist midsenior level...,account manager gps riyadh not applicable sal...,business analyst midsenior level business deve...,talent acquisition advisor associate finance c...,organisational design specialist midsenior lev...

In [29]:
jobs_base_line = df.iloc[0:10000,:]

In [30]:
jobs_base_line.head()

,position,company,level,job_functions,industries,description,day,month,quarter,city,Regions,industry_cat,TotalPositions,PositionsByMonth,year_of_ex,degrees,text
0,Employee Engagement Specialist,PepsiCo,MidSenior level,Human Resources,Consumer Goods Food Beverages,auto req id 199735brjob descriptionpepsico sa...,6,1,1,Riyadh,13,Consumer Goods,219,2339,Three,bachelor,employee engagement specialist midsenior level...
1,Account Manager GPS Riyadh,EY,Not Applicable,Sales Business Development,Accounting Financial Services,in a business where are our people are our pro...,6,1,1,Riyadh,13,Accounting,101,2339,Seven,bachelor,account manager gps riyadh not applicable sal...
2,Business Analyst,تطوير تقنيات التعليم Tatweer Educational Tech...,MidSenior level,Business Development Sales,Information Technology and Services,the ideal candidate will design organize and...,6,1,1,Riyadh,13,Information Technology and Services,16,2339,Five,bachelor,business analyst midsenior level business deve...
3,Talent Acquisition Advisor,WSP in the Middle East,Associate,Finance,Construction,think bigger scale think higher profile thin...,6,1,1,Riyadh,13,Construction,43,2339,Five,bachelor,talent acquisition advisor associate finance c...
4,Organisational Design Specialist,Aventus Global Talent,MidSenior level,Human Resources Design,Financial Services Banking,organisational design specialist eastern regi...,6,1,1,Remote,12,Financial Services,28,2339,Five,bachelor,organisational design specialist midsenior lev...

In [31]:
import re

In [32]:
# Delete all digits values in the 'description'
jobs_base_line['description'] = jobs_base_line['description'].map(lambda x: re.sub('\d', ' ', str(x)))

In [33]:
# delete multiple blanks in the 'description'
jobs_base_line['description'] = jobs_base_line['description'].replace(r'\s+', ' ', regex=True)
jobs_base_line['position'] = jobs_base_line['position'].replace(r'\s+', ' ', regex=True)

In [34]:
jobs_base_line.description[5]

'main accountabilities familiarity with kpis building reviewing and adjusting kpis for employees department and company establishing new processes and continually enhancing and reviewing existing processes following up with the departments sla working to improve and develop the quality of procedures and applicable models work to identify the sources of error and weakness and provide recommendation mitigation plan that contribute in improving the quality of work make and submit periodic reports to the management example risk management gap analysis business continuity business statistics sla compliance understanding and applying international quality standards to the work mechanism and outputs for example iso six segma lean establishing mechanisms for archiving and documenting files and issuing reports internally analysis and suggest solutions problems that might occur in the department effective communication with all employees and stakeholders regarding raising the efficiency and quality of work analyze and measure the defects develop indicators to measure the performance and monitor it on daily basis prepare customer and stakeholders satisfaction questionnaires monitor the performance in general job requirements bachelors or masters degree in information technology business administration quality assurance or in the same filed at least years of experience at the same discipline or any related subject advanced in excel'

In [35]:
jobs_base_line.text[5]

'quality specialist associate analyst consulting quality assurance management consulting management consulting takamol holding riyadh bachelor'

In [36]:
jobs_base_line['position'] = jobs_base_line['position'].fillna('')
jobs_base_line['description'] = jobs_base_line['description'].fillna('')
jobs_base_line['text'] = jobs_base_line['text'].fillna('')
jobs_base_line['job_overview']=jobs_base_line['position']+jobs_base_line['description']

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer

# let's do some feature extraction from the job description using Tf-idf
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfv_matrix = tf.fit_transform(jobs_base_line['job_overview'])

In [38]:
tfv_matrix.shape

(10000, 672765)

In [39]:
from sklearn.metrics.pairwise import linear_kernel

In [40]:
cosine_sim = linear_kernel(tfv_matrix, tfv_matrix)

In [41]:
print(cosine_sim.shape)
print(cosine_sim[0])

(10000, 10000)
[1.         0.02223408 0.01701809 ... 0.00135243 0.01801693 0.00103766]

In [42]:
# Reverse mapping of indices and job's positions 
titles = jobs_base_line['position']
indices = pd.Series(jobs_base_line.index, index=jobs_base_line['position'])

In [43]:
indices.head(50)

position
Employee Engagement Specialist                                                                 0
Account Manager GPS Riyadh                                                                     1
Business Analyst                                                                               2
Talent Acquisition Advisor                                                                     3
Organisational Design Specialist                                                               4
Quality Specialist                                                                             5
Events Operations Manager                                                                      6
Business Analyst                                                                               7
Program ManagerEasternSouthernNorthernWestern Region                                           8
Project manager                                                                                9
Human Resources Coordinator                                                                   10
Configurations Quality Specialist                                                             11
Head Of Human Resources                                                                       12
Project Manager                                                                               13
Purchasing Officer                                                                            14
Digital Product Manager                                                                       15
Logistics Coordinator                                                                         16
Cinema Manager                                                                                17
Business Analyst MS Excel Expert                                                              18
Graphic Web Designer                                                                          19
Associate DirectorDigital Delivery                                                            20
HR Business Partner Travel Tourism Saudi National                                             21
Receptionst AF Retail Riyadh                                                                  22
Product Specialist Looking for candidates residing in KSA applicable for a field based job    23
Sales Coordinator                                                                             24
Health Safety and Environmental Officer Saudi National                                        25
وظائف نسائية للعمل في توثيق وضبط جودة أنظمة المعلومات                                         26
HR GeneralistSaudi National                                                                   27
Sales Specialist                                                                              28
Sales Support Executive Saudi National Female                                                 29
HR Director                                                                                   30
Assistant Director of Engineering                                                             31
Integrated Marketing Programs Manager Job                                                     32
Guest Services Associate Saudi National Only                                                  33
URGENT JOB OPENING FOR NAJRAN SAUDI ARABIA                                                    34
Financial Reporting Senior Specialist                                                         35
Accountant                                                                                    36
Application Support Section Head                                                              37
Manager                                                                                       38
Mechanical Engineer Projects Experience                                                       39
Mechanical Supervisor                                                                         40
Business Resilience Manager                                                                   41
Marketing Campaign Manager                                                                    42
KSA National Sales Manager Pharmacies                                                         43
Business Analyst plus leading an Application Support Team                                     44
Property Manager                                                                              45
Employee Engagement Specialist                                                                46
Manufacturing Operator                                                                        47
Data Scientist and Analytics                                                                  48
Human Resources Director                                                                      49
dtype: int64

In [44]:
titles.sample(50)

6635        Tires Business Expert Multi Brand KSA Market
6659                         Technical Sales Assistant FM
3312                                 Guest Services Agent
2308                              Sales Account Executive
7888                           Project ManagerSaudis Only
9479                                         HSEQ Manager
6210                 Senior Engineer Corrosion Protection
8881                        Business Intelligence Manager
1104                                 IT Security Engineer
7720                                  RN Adult Hematology
9417    CV Selection For Ministry Of Health Saudi Arab...
6736                         Budgeting Supervisor Finance
8592                           Senior Officer Field Sales
1618                            Accountant Saudi National
1835                             IT Governance Consultant
985                              Public Relations Manager
9200                                 Lead Project Planner
4708                      Project Engineer Siemens Jeddah
862     Partner Functional Testing Support Senior Analyst
7659                          Director of Risk Management
5528                                  Executive Secretary
409                               Medical Delegate Riyadh
9093    Commercial Quality Manager For Saudi Nationals...
2730                                      English Teacher
9057                                     RPA Sr Developer
1930                                      Chief Architect
6336                                       NOC Consultant
4653                               Chief Strategy Officer
1405               COMPANY MALE NURSE FOR MNC CO IN SAUDI
832                                                Casher
3964                   Legal Counsel Saudi Nationals Only
2170      Chief Architect Digital Transformation Services
4353                            Quality Assurance Manager
3414                                  Electrical Engineer
2090    Java Developer MSSQL Spring Boot Angular Hiber...
1965    Training Development Assistant Manager Saudi N...
5796                                   Psychomotricien FH
7224             Technical Manager Remote $100000year USD
2043                         RMS Guest Service Supervisor
1226                     Storekeeper Saudi Nationals Only
3256                   Energy LifeCycle Emissions Analyst
1097                                       Clinical Nurse
422                       Senior Project ControlsPlanning
7933    Cost Engineer Unconventional Resources Enginee...
3719                      Senior HR Operations Specialist
3942                                              Barista
3270                               Maintenance Supervisor
90                                           QAQC Manager
2776                                            Secretary
765                         Talent development Specialist
Name: position, dtype: object

In [45]:
titles[6973]

'Amazon PickerPacker'

In [46]:
def get_recommendations(title):
    idx = indices[title]
    #print (idx)
    sim_scores = list(enumerate(cosine_sim[idx]))
    #print (sim_scores)
    #sim_scores = sim_scores[1:10]
    sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse=True)
    job_indices = [i[0] for i in sim_scores]
    return titles.iloc[job_indices]

In [47]:
# Testing our content-based recommendation system with the job's position Project Manager
get_recommendations('Project manager').head(10)

9                        Project manager
90                          QAQC Manager
8326                Reporting Specialist
8440              Senior Project Manager
8324                 Procurement Manager
8325                     Project Manager
9714              Senior Project Manager
5956    Snr Construction Manager Fit out
8006                Site Project Manager
9787                      Civil Engineer
Name: position, dtype: object

In [48]:
# Testing our content-based recommendation system with the job's position Business Analyst MS Excel Expert
get_recommendations('Business Analyst MS Excel Expert').head(10)

18        Business Analyst MS Excel Expert
3308                      Business Analyst
7175                      Business Analyst
2073                Sales Business Analyst
7963      Manager Business Enablement MEET
2555    Business Analyst FinanceTax Domain
3794    Senior eCommerce Business Analyst
701                      Financial Analyst
7                         Business Analyst
5513                       Data Analyst BI
Name: position, dtype: object

In [49]:
# Testing our content-based recommendation system with the job's position Director
get_recommendations('Director').head(10)

3589                                 Director
3365    Administrative Assistant KSA National
4059               Senior Document Controller
4632               Senior Document Controller
5283               Senior Document Controller
9532                     Construction Manager
309                          Project Director
543                          Project Director
4792                          Project Manager
4743                       Team Administrator
Name: position, dtype: object

In [50]:
get_recommendations('CFO').head(10)

7793                                   CFO
8898                             Group CFO
3034               Chief Financial Officer
2392       Finance Director Saudi National
9004               Chief Financial Officer
8663                 Group Finance Manager
3634               Chief Financial Officer
4622    VP of Business Investment Analysis
3395                 Global Tax Accountant
3273                 Global Tax Accountant
Name: position, dtype: object

In [51]:
get_recommendations('CEO').head(10)

871                                              CEO
3320                               Financial Analyst
1451                         Chief Financial Officer
4103                         Chief Financial Officer
392      Assistant Manager PI Finance Transformation
3153                               Financial Analyst
4657                         Chief Executive Officer
4919                             Finance ManagerFMCG
5741                         Chief Executive Officer
8183    Finance Business partner corporate functions
Name: position, dtype: object

### Showing all  vacant jobs that available in the list based on the year of experience
also we find out similar jobs -- suggest those job to the other users who have a similar yesr of experience.

We are finding put similar available jobs based on their degrees, majors'industry_cat' and the years of experience.

We will get to 10 similar jobs.

We will find our which are the jobs for which these experience have applied

We take an union of these jobs and recommend the jobs all these user base

In [52]:
jobs_base_line.columns

Index(['position', 'company', 'level', 'job_functions', 'industries',
       'description', 'day', 'month', 'quarter', 'city', 'Regions',
       'industry_cat', 'TotalPositions', 'PositionsByMonth', 'year_of_ex',
       'degrees', 'text', 'job_overview'],
      dtype='object')

In [53]:
jobs_base_line['degrees'] = jobs_base_line['degrees'].fillna('')
jobs_base_line['industry_cat'] = jobs_base_line['industry_cat'].fillna('')
jobs_base_line['year_of_ex'] = jobs_base_line['year_of_ex'].fillna('')
jobs_base_line['company'] = jobs_base_line['company'].fillna('')
jobs_base_line['city'] = jobs_base_line['city'].fillna('')
jobs_base_line['position'] = jobs_base_line['position'].fillna('')
jobs_base_line['level'] = jobs_base_line['level'].fillna('')

jobs_base_line['deg_major_exp'] = jobs_base_line['degrees'] + " " + jobs_base_line['industry_cat'] + " " + jobs_base_line['year_of_ex']+ " " + jobs_base_line['company'] + " " + jobs_base_line['city']+ " " + jobs_base_line['position']+ " " + jobs_base_line['level']

In [54]:
jobs_base_line.head(2)

,position,company,level,job_functions,industries,description,day,month,quarter,city,Regions,industry_cat,TotalPositions,PositionsByMonth,year_of_ex,degrees,text,job_overview,deg_major_exp
0,Employee Engagement Specialist,PepsiCo,MidSenior level,Human Resources,Consumer Goods Food Beverages,auto req id brjob descriptionpepsico saudi sna...,6,1,1,Riyadh,13,Consumer Goods,219,2339,Three,bachelor,employee engagement specialist midsenior level...,Employee Engagement Specialistauto req id brjo...,bachelor Consumer Goods Three PepsiCo Riyadh E...
1,Account Manager GPS Riyadh,EY,Not Applicable,Sales Business Development,Accounting Financial Services,in a business where are our people are our pro...,6,1,1,Riyadh,13,Accounting,101,2339,Seven,bachelor,account manager gps riyadh not applicable sal...,Account Manager GPS Riyadhin a business where ...,bachelor Accounting Seven EY Riyadh Account Ma...

In [55]:
jobs_base_line.deg_major_exp[100]

'bachelor Accounting Five EY Riyadh Capital Debt Advisory CDA Manager Riyadh Saudi Arabia Not Applicable'

In [56]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(jobs_base_line['deg_major_exp'])

In [57]:
tfidf_matrix.shape

(10000, 26560)

In [58]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [59]:
cosine_sim[0]

array([1.        , 0.01403729, 0.01903668, ..., 0.0055048 , 0.02335582,
       0.00741661])

In [60]:
jobs_base_line = jobs_base_line.reset_index()
levelCat = jobs_base_line['year_of_ex']
indices = pd.Series(jobs_base_line.index, index=jobs_base_line['year_of_ex'])
#indices.head(2)

In [61]:
indices

year_of_ex
Three       0
Seven       1
Five        2
Five        3
Five        4
         ...
Three    9995
Three    9996
Three    9997
Four     9998
Three    9999
Length: 10000, dtype: int64

In [62]:
df.year_of_ex[3072]

'Seven'

In [63]:
def get_recommendations_years_of_exp(year_exp):
    idx = indices[year_exp]
    #print (idx)
    sim_scores = list(enumerate(cosine_sim[idx]))
    #print (sim_scores)
    sim_scores = sorted(sim_scores, key=lambda x: x[1][1], reverse=True)
    year_indices = [i[0] for i in sim_scores]
    #print (user_indices)
    return year_indices[0:11]

In [64]:
print ("-----Top 10 Similar job with years of experience: Three")
get_recommendations_years_of_exp('Five')

-----Top 10 Similar job with years of experience: Three

[15, 1066, 814, 49, 1045, 1341, 1343, 1345, 1347, 1349, 352]

In [65]:
def get_job_year(year_exp_list):
    jobs_year = jobs_base_line['year_of_ex'].isin(year_exp_list) #
    df1 = pd.DataFrame(data = jobs_base_line[jobs_year], columns=['year_of_ex'])
    joblist = jobs_base_line['year_of_ex'].tolist()
    Job_list = jobs_base_line['year_of_ex'].isin(joblist) #[1083186, 516837, 507614, 754917, 686406, 1058896, 335132])
    df_temp = pd.DataFrame(data = jobs_base_line[Job_list], columns=['year_of_ex','degrees','level','position','company','city'])
    return df_temp

In [66]:
get_job_year(get_recommendations_years_of_exp('Five')).head(11)

,year_of_ex,degrees,level,position,company,city
0,Three,bachelor,MidSenior level,Employee Engagement Specialist,PepsiCo,Riyadh
1,Seven,bachelor,Not Applicable,Account Manager GPS Riyadh,EY,Riyadh
2,Five,bachelor,MidSenior level,Business Analyst,تطوير تقنيات التعليم Tatweer Educational Tech...,Riyadh
3,Five,bachelor,Associate,Talent Acquisition Advisor,WSP in the Middle East,Riyadh
4,Five,bachelor,MidSenior level,Organisational Design Specialist,Aventus Global Talent,Remote
5,Two,bachelor,Associate,Quality Specialist,Takamol Holding,Riyadh
6,Three,bachelor,MidSenior level,Events Operations Manager,Aggreko,Jeddah
7,Three,bachelor,Associate,Business Analyst,ALKHALEEJ COMPUTERS ELECTRONIC SYSTEMS,Riyadh
8,Eight,bachelor,Associate,Program ManagerEasternSouthernNorthernWestern ...,Elm Company,Riyadh
9,Two,bachelor,MidSenior level,Project manager,AECOM,Riyadh
10,Three,bachelor,Entry level,Human Resources Coordinator,Courtyard by Marriott,Riyadh