#  <b><span style="color:#14c8b3"><center> Preprocessing Steps  </span></b> </center>


   

<span> <center><img src="https://miro.medium.com/max/1200/1*sjDV85QYa0quGsjRJtqN1g.jpeg" width="700" /></span>

In [1]:
#Import packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from textblob import Word

import nltk
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer
from wordcloud import WordCloud

import pickle

import warnings
warnings.filterwarnings('ignore')

In [2]:
import httpimport
url = 'https://raw.githubusercontent.com/zach-brown-18/class-toolkit/main/eda/'
with httpimport.remote_repo(['cleaning', 'columns'], url):
    import cleaning as c
    import columns as cols

In [3]:
df=pd.read_excel('Linkedin Job Posts in Saudi Arabia 2020.xlsx')

In [4]:
df.head()

,linkedin_id,position_id,position,company,location,level,date,job_functions,industries,description
0,1632901070,51791,Head of Branding Governance Unit,Riyad Bank,"Riyadh, Saudi Arabia",Mid-Senior level,2020-01-06,"['Marketing', 'Management']",['Banking'],NaN
1,1628497696,51792,Document Controller,"Confidential,Confidential","Riyadh, Saudi Arabia",Associate,2020-01-06,[''],['Government Administration'],Document Controller- (Saudi candidates only) ...
2,1666951758,51793,Employee Engagement Specialist,PepsiCo,"Riyadh, Saudi Arabia",Mid-Senior level,2020-01-06,['Human Resources'],"['Consumer Goods', 'Food & Beverages']",Auto req ID: 199735BRJob DescriptionPepsiCo Sa...
3,1671138260,51794,Strategic Workforce Analyst,Saudi Air Navigation Services,"Jeddah, Saudi Arabia",Mid-Senior level,2020-01-06,[''],['Aviation & Aerospace'],Role PurposeTo conduct workforce analysis to s...
4,1670725370,51795,"Account Manager, GPS – Riyadh",EY,"Riyadh, Saudi Arabia",Not Applicable,2020-01-06,"['Sales', 'Business Development']","['Accounting', 'Financial Services']",In a business where are our people are our pro...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48449 entries, 0 to 48448
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   linkedin_id    48443 non-null  object
 1   position_id    48449 non-null  int64
 2   position       48449 non-null  object
 3   company        48447 non-null  object
 4   location       48436 non-null  object
 5   level          46758 non-null  object
 6   date           48449 non-null  datetime64[ns]
 7   job_functions  48449 non-null  object
 8   industries     48449 non-null  object
 9   description    45252 non-null  object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 3.7+ MB

In [6]:
#Print Null Values
df.isnull().sum()

linkedin_id         6
position_id         0
position            0
company             2
location           13
level            1691
date                0
job_functions       0
industries          0
description      3197
dtype: int64

#### Define variable contain the special character to cleaning purpose

In [7]:
#define special character to rmove it from data set
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"]

# Preprocessing and Cleaning of Data

#### Extract two columns from date column

In [8]:
#extract day from date
df['day'] = df['date'].dt.day

In [9]:
#extract month from date
df['month'] = df['date'].dt.month

In [10]:
#extract quarter from date
df['quarter'] = df['date'].dt.quarter

### Location column Cleaning and extacting New column city from it

In [11]:
for char in spec_chars:
    df['location'] = df['location'].str.replace(char, ' ')

#### delete space for good cleaning

In [12]:
#delete space 
df['location'] = df['location'].str.replace('Al ','Al')
df['location'] = df['location'].str.replace('Ad ','Ad')
df['location'] = df['location'].str.replace('Om Ashr ','OmAshr')
df['location'] = df['location'].str.replace('Ha il ','Hail')
df['location'] = df['location'].str.replace('Le Méridien ','LeMéridien')
df['location'] = df['location'].str.replace('Al‘Ulá ','AlUla')
df['location'] = df['location'].str.replace('As sa an  Syria ','Riyadh')
df['location'] = df['location'].str.replace('Ar Rass ','AlQasim')
df['location'] = df['location'].str.replace('Aţ Ţā’if ','Taif')
df['location'] = df['location'].str.replace('As Sulimaniyah ','Riyadh')
df['location'] = df['location'].str.replace('Abu Shuayb ','Makkah')
df['location'] = df['location'].str.replace('AlImam Muhammad ','Riyadh')
df['location'] = df['location'].str.replace('Ta if ','Taif')
df['location'] = df['location'].str.replace('UmmalHamam','UmmalHamam ')
df['location'] = df['location'].str.replace('At Turqi ','Makkah')
df['location'] = df['location'].str.replace("‘Ar‘ar ",'Arar')
df['location'] = df['location'].str.replace('Abu Urwah ','Makkah')

In [13]:
print(df['location'].unique())

['Riyadh  Saudi Arabia' 'Jeddah  Saudi Arabia' 'Saudi Arabia'
 'Dammam  Saudi Arabia' 'Khobar  Saudi Arabia' 'Rabigh  Saudi Arabia'
 'Makkah  Saudi Arabia' nan 'Yanbu  Saudi Arabia' 'Dhahran  Saudi Arabia'
 'Madinah  Saudi Arabia' 'Jubail  Saudi Arabia' 'Jizan  Saudi Arabia'
 'Ahsa  Saudi Arabia' 'Tabouk  Saudi Arabia' 'Qaseem  Saudi Arabia'
 'Taif  Saudi Arabia' 'Najran  Saudi Arabia' 'Hail  Saudi Arabia'
 'Baha  Saudi Arabia' 'Jeddah  Makkah  Saudi Arabia'
 'Dammam Industrial Area  Eastern  Saudi Arabia' 'Tabuk  Saudi Arabia'
 'Ḩafar al Baţin  Saudi Arabia' 'Eastern  Saudi Arabia'
 'AdDammām  Eastern  Saudi Arabia' 'Bedaah  AlMadinah  Saudi Arabia'
 'AlKharj  Riyadh  Saudi Arabia' 'AlKhubar  Eastern  Saudi Arabia'
 'AlKhobar  Eastern  Saudi Arabia'
 'AlJubail Industrial  Eastern  Saudi Arabia'
 'Jeddah Industrial City 1  Makkah  Saudi Arabia'
 'Dammam Second Industrial City  Eastern  Saudi Arabia'
 'Medina  AlMadinah  Saudi Arabia' 'Qal‘at Bīshah   Asir  Saudi Arabia'
 'AlJubayl  Saudi Arabia' 'AdDawādimī  Saudi Arabia'
 'AlMajal  AlQasim  Saudi Arabia' 'Mecca  Makkah  Saudi Arabia'
 ' Asir  Saudi Arabia' 'AlYasmeen  Riyadh  Saudi Arabia'
 'AlMadinah  Saudi Arabia' 'Beesh  Jizan  Saudi Arabia'
 'Ḩuraymila  Saudi Arabia' 'AlQasim  Saudi Arabia'
 'Riyadh AlKhobra  AlQasim  Saudi Arabia'
 'AlBakhraa  Riyadh  Saudi Arabia' 'Dhahran  Eastern  Saudi Arabia'
 'AlHufūf  Eastern  Saudi Arabia' 'Yanbu  Eastern  Saudi Arabia'
 'First Industrial City in Riyadh  Riyadh  Saudi Arabia'
 'AlMuthneb  AlQasim  Saudi Arabia' 'Khamīs Mushayţ   Asir  Saudi Arabia'
 'AlJazirah  Riyadh  Saudi Arabia' 'Ahsa  Eastern  Saudi Arabia'
 'Dasimah  AlMadinah  Saudi Arabia' 'Rābigh  Makkah  Saudi Arabia'
 'Abhā   Asir  Saudi Arabia' 'Taif Makkah  Saudi Arabia'
 'Chalon sur Saône  Burgundy Franche Comte  France' 'Hail Saudi Arabia'
 'AlMalga  Riyadh  Saudi Arabia'
 'Yanbu Industrial City  AlMadinah  Saudi Arabia'
 'AlMalaz  Riyadh  Saudi Arabia' 'Yanbu  AlMadinah  Saudi Arabia'
 'Tuwaiq  Riyadh  Saudi Arabia' 'AlDhahran  Eastern  Saudi Arabia'
 'AlSulaimaniyah AlShamaliyah  Riyadh  Saudi Arabia'
 'Sakākah  AlJawf  Saudi Arabia' 'Jawharat Jeddah  Makkah  Saudi Arabia'
 'AlBadai  AlQasim  Saudi Arabia' 'AlGhamas  AlQasim  Saudi Arabia'
 'AlHamra  Riyadh  Saudi Arabia'
 'AlUlayah AlSharqeyah  Riyadh  Saudi Arabia'
 'AlWaha  Riyadh  Saudi Arabia' 'AlRoudah  Riyadh  Saudi Arabia'
 'Azzarqa  AlBahah  Saudi Arabia' 'AlRaid  Riyadh  Saudi Arabia'
 'AlRahmaniyah  Riyadh  Saudi Arabia' 'AlWorood  Riyadh  Saudi Arabia'
 'AlBahah  AlBahah  Saudi Arabia' 'AlNuzha  Riyadh  Saudi Arabia'
 'Buraydah  AlQasim  Saudi Arabia' 'AlQadesiyah  AlQasim  Saudi Arabia'
 'Yadma  Najran  Saudi Arabia' 'Ţurayf  Northern Frontier  Saudi Arabia'
 'AlQasim AlQasim  Saudi Arabia' 'Riyadh  Riyadh  Saudi Arabia'
 'Badr Ḩunayn  AlMadinah  Saudi Arabia'
 'AlUlayah AlJanoubiyah  Riyadh  Saudi Arabia'
 'Qurayyat  AlJawf  Saudi Arabia' 'AlBukayrīyah  AlQasim  Saudi Arabia'
 'Sulaimaniyah  Riyadh  Saudi Arabia' 'Ishbayliyah  Riyadh  Saudi Arabia'
 'Dammam First Industrial City  Eastern  Saudi Arabia'
 'Yanbu‘ al Baḩr  AlMadinah  Saudi Arabia' 'AlAflaj  Riyadh  Saudi Arabia'
 'Radhwa Industrial  AlMadinah  Saudi Arabia'
 'Hinakiyah  AlMadinah  Saudi Arabia' 'King Abdulaziz  Saudi Arabia'
 'Alsnaeia  AlMadinah  Saudi Arabia'
 'King Abdullah University of Science  Makkah  Saudi Arabia'
 'Alsharqiyah  Saudi Arabia' 'Alehsaa  AlMadinah  Saudi Arabia'
 'Ḑubā  Saudi Arabia' 'Ashifa  AlQasim  Saudi Arabia' ' '
 '‘Unayzah  Saudi Arabia' 'Ḩā’il  Hail Saudi Arabia'
 'Jīzān  Jizan  Saudi Arabia' 'AlMajma‘ah  Riyadh  Saudi Arabia'
 'AlBahah  Saudi Arabia' 'AlKhafji  Eastern  Saudi Arabia'
 'AlLīth  Makkah  Saudi Arabia' 'Ras Tanurah  Eastern  Saudi Arabia'
 'AlShuqaiq  Jizan  Saudi Arabia' 'AlSaadah  Riyadh  Saudi Arabia'
 'Quwayiyah  Riyadh  Saudi Arabia' 'Ain Shams  Makkah  Saudi Arabia'
 'Sharorah  Najran  Saudi Arabia' 'Western Badea  Riyadh  Saudi Arabia'
 'Tabūk  Tabuk  Saudi Arabia' 'AlAin  Riyadh  Saudi Arabia'
 'Western Sheraa  Eastern  Saudi Arabia' 'Alhawiyah  Makkah  Saudi Arabia'
 'Dhahran AlJanoub   Asir  Saudi Arabia' 'Abqaiq  Saudi Arabia'
 'AlShuqaiq  AlJawf  Saudi Arabia' 'AlQaţīf  Eastern  Saudi Arabia'
 'King Abdulaziz Port  Eastern  Saudi Arabia'
 'AlTaawon  Riyadh  Saudi Arabia' 'Riyadh Saudi Arabia'
 'AlMadinah  Northern Frontier  Saudi Arabia'
 'Alfaysalyah  Najran  Saudi Arabia' 'Dubai  Saudi Arabia'
 'Fiji  AlMadinah  Saudi Arabia' 'Dhahban  Makkah  Saudi Arabia'
 'AlNakheel  Riyadh  Saudi Arabia' 'Sihat  Eastern  Saudi Arabia'
 'Makkah Makkah  Saudi Arabia'
 'King Abdullah Economic City  Makkah  Saudi Arabia'
 'Bahra  Makkah  Saudi Arabia' 'AlJawf  Saudi Arabia'
 'AlKhalidiyah  Saudi Arabia' 'AlUlayah AlGharbiyah  Riyadh  Saudi Arabia'
 'Balqarn   Asir  Saudi Arabia' 'Thuwal  Makkah  Saudi Arabia'
 'Mhayel   Asir  Saudi Arabia' 'India' 'J카z훮n  Jizan  Saudi Arabia'
 'AlJabal AlAkhdar  AlJabal AlAkhdar  Libya'
 'AlHufÅ«f  Eastern  Saudi Arabia' 'Medina  Minnesota  United States'
 'Riyadh Syria' 'Second Industrial City in Riyadh  Riyadh  Saudi Arabia'
 'Pulaski County  Arkansas  United States' 'Medina  Ohio  United States'
 'Ash Sheraa  Makkah  Saudi Arabia' 'Taif  Diourbel  Senegal'
 'Star City No 428  Saskatchewan  Canada'
 'Badr á¸¨unayn  AlMadinah  Saudi Arabia' 'United Arab Emirates'
 'AlMajmaâ€˜ah  Riyadh  Saudi Arabia' 'AlUla AlMadinah  Saudi Arabia'
 'Milwaukee  Wisconsin  United States'
 'Sarat Aubedah   Asir  Saudi Arabia'
 'Arar Northern Frontier  Saudi Arabia' 'Milwaukee  WI'
 'Rhyd ar gaeau  Wales  United Kingdom' 'United States'
 'R훮bigh  Makkah  Saudi Arabia' 'AlMajardah   Asir  Saudi Arabia'
 'Domat AlJandal  AlJawf  Saudi Arabia' 'AlWajh  Tabuk  Saudi Arabia'
 'AlMutawakkel  AlQasim  Saudi Arabia' 'Tanajib  Saudi Arabia'
 'Jeddah  $AG 3348611' 'Saudi  Riyadh  Saudi Arabia'
 'á¸¨uraymila  Saudi Arabia' 'King Khalid Military City  Saudi Arabia'
 'AlNamas   Asir  Saudi Arabia' 'AlDeri yya  Riyadh  Saudi Arabia'
 'Ras AlKhair  Saudi Arabia' 'LeMéridien Grand Est  France' 'Finland'
 'Indiana  United States' 'AlHada  Riyadh  Saudi Arabia'
 'AlZulfi  Riyadh  Saudi Arabia' 'Umm Doha  Makkah  Saudi Arabia'
 'Harad  Eastern  Saudi Arabia' 'Jiddah  Makkah  Saudi Arabia'
 'Dammam  Eastern  Saudi Arabia' 'AlBahr  Eastern  Saudi Arabia'
 'AlShuqaiq  Hail Saudi Arabia' 'AlBakhrā’  Riyadh  Saudi Arabia'
 'Tabuk  Tabuk  Saudi Arabia'
 'Dammam 2nd Industrial City  Eastern  Saudi Arabia'
 'Ash Sharqiyah  AlQasim  Saudi Arabia'
 'Jubail Industrial City  Eastern  Saudi Arabia'
 'Dawmat AlJandal  AlJawf  Saudi Arabia'
 'AlMadinah  Eastern  Saudi Arabia'
 'Hasah Ibn Huwail  Riyadh  Saudi Arabia' 'Zulfi  Riyadh  Saudi Arabia'
 'AlDoha AlShamaliah  Eastern  Saudi Arabia'
 'First Industrial City in Jeddah  Makkah  Saudi Arabia'
 'Jazan  Jizan  Saudi Arabia' 'AlḨa’ir  Riyadh  Saudi Arabia'
 'AlMualimeen  Eastern  Saudi Arabia' 'Banban  Saudi Arabia'
 'Ras AlKhair  Eastern  Saudi Arabia' 'Jubail  Eastern  Saudi Arabia'
 'Å¢urayf  Northern Frontier  Saudi Arabia'
 'RiyadhBin Saud University  Riyadh  Saudi Arabia'
 'Abha   Asir  Saudi Arabia' 'Khamis Mushait   Asir  Saudi Arabia'
 'AlMubarraz  Saudi Arabia' 'AlMajma  Najran  Saudi Arabia'
 'Eastern Province  Eastern  Saudi Arabia' 'AlBaha  AlBahah  Saudi Arabia'
 'Makkah  Eastern  Saudi Arabia' 'Najrān  Najran  Saudi Arabia'
 'East Regional  AlJawf  Saudi Arabia'
 'Jazan Economic City  Jizan  Saudi Arabia'
 'Rafha  Northern Frontier  Saudi Arabia' 'AlMidhnab  Saudi Arabia'
 'AlOlaya  Riyadh  Saudi Arabia' 'AlAziziah  Eastern  Saudi Arabia'
 'Khurais Saudi Aramco  Eastern  Saudi Arabia'
 'AlHezam AlAkhther  Eastern  Saudi Arabia'
 'AlQurayat  AlJawf  Saudi Arabia' 'AlBukayrÄ«yah  AlQasim  Saudi Arabia'
 'Hail  Hail Saudi Arabia' 'Rabigh  Makkah  Saudi Arabia'
 'Riyad AlKhubara  AlQasim  Saudi Arabia' 'Neom  Tabuk  Saudi Arabia'
 'AlRiyadh  Makkah  Saudi Arabia' 'Saihat  Eastern  Saudi Arabia'
 'AlHada  Makkah  Saudi Arabia' 'Arar  Northern Frontier  Saudi Arabia'
 'Baysh  Jizan  Saudi Arabia' 'Taif  Makkah  Saudi Arabia'
 'Northern Frontier  Saudi Arabia' 'Khafji  Eastern  Saudi Arabia'
 'OmAshr Eastern  Saudi Arabia'
 'Dammam 3Rd Industrial City  Eastern  Saudi Arabia'
 'â€˜Unayzah  Saudi Arabia' 'AlFarah   Asir  Saudi Arabia'
 'Sakaka  AlJawf  Saudi Arabia' 'Ras Tanura  Eastern  Saudi Arabia'
 'Ash Sharmah  Tabuk  Saudi Arabia' 'Qatif  Eastern  Saudi Arabia'
 'Riyadh Region' 'Jazan Region' 'Makkah Region'
 'Safwa  Eastern  Saudi Arabia' '‘Afīf  Riyadh  Saudi Arabia'
 'Eastern Region'
 'King Khalid International Airport  Riyadh  Saudi Arabia'
 'Laurel  Mississippi  United States' 'Kansas City  Kansas  United States'
 'Buffalo  New York  United States'
 'Tarboro  North Carolina  United States' 'Pasadena  Texas  United States'
 'Oberlin  Ohio  United States' 'Oak Ridge  Tennessee  United States'
 'Florida  United States' 'Paterson  New Jersey  United States'
 'Oakland Park  Florida  United States'
 'Wellington  Florida  United States' 'Hamilton  Ohio  United States'
 'Indianapolis  Indiana  United States'
 'Harrisonburg  Virginia  United States'
 'Lake Charles  Louisiana  United States'
 'Sumter  South Carolina  United States'
 'Souderton  Pennsylvania  United States'
 'Alcoa  Tennessee  United States'
 'Silver Spring  Maryland  United States'
 'Chesterfield  Michigan  United States'
 'New York  New York  United States' 'Stockton  California  United States'
 'Barbourville  Kentucky  United States' 'Madinah Region' 'South Asia'
 '99999' 'Najran  Najran  Saudi Arabia' 'Asir Region'
 'AlArtawiya  Riyadh  Saudi Arabia' 'AlDiriyah  Riyadh  Saudi Arabia'
 'Shaqra  Riyadh  Saudi Arabia' 'AlKhurmah  Makkah  Saudi Arabia'
 'AlBahah Region' 'Shaqrā’  Riyadh  Saudi Arabia']

In [14]:
#extract first word from location column
df['city'] = df['location'].str.split(' ').str[0]

In [15]:
print(df['city'].unique())

['Riyadh' 'Jeddah' 'Saudi' 'Dammam' 'Khobar' 'Rabigh' 'Makkah' nan 'Yanbu'
 'Dhahran' 'Madinah' 'Jubail' 'Jizan' 'Ahsa' 'Tabouk' 'Qaseem' 'Taif'
 'Najran' 'Hail' 'Baha' 'Tabuk' 'Ḩafar' 'Eastern' 'AdDammām' 'Bedaah'
 'AlKharj' 'AlKhubar' 'AlKhobar' 'AlJubail' 'Medina' 'Qal‘at' 'AlJubayl'
 'AdDawādimī' 'AlMajal' 'Mecca' '' 'AlYasmeen' 'AlMadinah' 'Beesh'
 'Ḩuraymila' 'AlQasim' 'AlBakhraa' 'AlHufūf' 'First' 'AlMuthneb' 'Khamīs'
 'AlJazirah' 'Dasimah' 'Rābigh' 'Abhā' 'Chalon' 'AlMalga' 'AlMalaz'
 'Tuwaiq' 'AlDhahran' 'AlSulaimaniyah' 'Sakākah' 'Jawharat' 'AlBadai'
 'AlGhamas' 'AlHamra' 'AlUlayah' 'AlWaha' 'AlRoudah' 'Azzarqa' 'AlRaid'
 'AlRahmaniyah' 'AlWorood' 'AlBahah' 'AlNuzha' 'Buraydah' 'AlQadesiyah'
 'Yadma' 'Ţurayf' 'Badr' 'Qurayyat' 'AlBukayrīyah' 'Sulaimaniyah'
 'Ishbayliyah' 'Yanbu‘' 'AlAflaj' 'Radhwa' 'Hinakiyah' 'King' 'Alsnaeia'
 'Alsharqiyah' 'Alehsaa' 'Ḑubā' 'Ashifa' '‘Unayzah' 'Ḩā’il' 'Jīzān'
 'AlMajma‘ah' 'AlKhafji' 'AlLīth' 'Ras' 'AlShuqaiq' 'AlSaadah' 'Quwayiyah'
 'Ain' 'Sharorah' 'Western' 'Tabūk' 'AlAin' 'Alhawiyah' 'Abqaiq' 'AlQaţīf'
 'AlTaawon' 'Alfaysalyah' 'Dubai' 'Fiji' 'Dhahban' 'AlNakheel' 'Sihat'
 'Bahra' 'AlJawf' 'AlKhalidiyah' 'Balqarn' 'Thuwal' 'Mhayel' 'India'
 'J카z훮n' 'AlJabal' 'AlHufÅ«f' 'Second' 'Pulaski' 'Ash' 'Star' 'United'
 'AlMajmaâ€˜ah' 'AlUla' 'Milwaukee' 'Sarat' 'Arar' 'Rhyd' 'R훮bigh'
 'AlMajardah' 'Domat' 'AlWajh' 'AlMutawakkel' 'Tanajib' 'á¸¨uraymila'
 'AlNamas' 'AlDeri' 'LeMéridien' 'Finland' 'Indiana' 'AlHada' 'AlZulfi'
 'Umm' 'Harad' 'Jiddah' 'AlBahr' 'AlBakhrā’' 'Dawmat' 'Hasah' 'Zulfi'
 'AlDoha' 'Jazan' 'AlḨa’ir' 'AlMualimeen' 'Banban' 'Å¢urayf' 'RiyadhBin'
 'Abha' 'Khamis' 'AlMubarraz' 'AlMajma' 'AlBaha' 'Najrān' 'East' 'Rafha'
 'AlMidhnab' 'AlOlaya' 'AlAziziah' 'Khurais' 'AlHezam' 'AlQurayat'
 'AlBukayrÄ«yah' 'Riyad' 'Neom' 'AlRiyadh' 'Saihat' 'Baysh' 'Northern'
 'Khafji' 'OmAshr' 'â€˜Unayzah' 'AlFarah' 'Sakaka' 'Qatif' 'Safwa' '‘Afīf'
 'Laurel' 'Kansas' 'Buffalo' 'Tarboro' 'Pasadena' 'Oberlin' 'Oak'
 'Florida' 'Paterson' 'Oakland' 'Wellington' 'Hamilton' 'Indianapolis'
 'Harrisonburg' 'Lake' 'Sumter' 'Souderton' 'Alcoa' 'Silver'
 'Chesterfield' 'New' 'Stockton' 'Barbourville' 'South' '99999' 'Asir'
 'AlArtawiya' 'AlDiriyah' 'Shaqra' 'AlKhurmah' 'Shaqrā’']

In [16]:
df['city'] = df['city'].str.replace('AdDammām','Dammam')
df['city'] = df['city'].str.replace('Jiddah','Jeddah')
df['city'] = df['city'].str.replace('Mecca','Makkah')
df['city'] = df['city'].str.replace('J카z훮n','Jazan')
df['city'] = df['city'].str.replace('Jizan','Jazan')
df['city'] = df['city'].str.replace('Jīzān','Jazan')
df['city'] = df['city'].str.replace('Tabouk','Tabuk')
df['city'] = df['city'].str.replace('Tabūk','Tabuk')
df['city'] = df['city'].str.replace('Medina','Madinah')
df['city'] = df['city'].str.replace('AlMadinah','Madinah')
df['city'] = df['city'].str.replace('R훮bigh','Rabigh')
df['city'] = df['city'].str.replace('Rābigh','Rabigh')
df['city'] = df['city'].str.replace('AlJubayl','Jubail')
df['city'] = df['city'].str.replace('AlJubail','Jubail')
df['city'] = df['city'].str.replace('AlBukayrÄ«yah','Albukairyah')
df['city'] = df['city'].str.replace('Khamīs','Khamis')
df['city'] = df['city'].str.replace('AlZulfi','Zulfi')
df['city'] = df['city'].str.replace('Abhā','Abha')
df['city'] = df['city'].str.replace('Riyad','Riyadh')
df['city'] = df['city'].str.replace('AlRiyadh','Riyadh')
df['city'] = df['city'].str.replace('â€˜Unayzah','Unayzah')
df['city'] = df['city'].str.replace('‘Unayzah','Unayzah')
df['city'] = df['city'].str.replace('Saudi','Remote')
df['city'] = df['city'].str.replace('AlHufÅ«f','Alhufuf')
df['city'] = df['city'].str.replace('AlKhubar«f','AlKhobar')
df['city'] = df['city'].str.replace('AlKhubar','AlKhobar')
df['city'] = df['city'].str.replace('Al-Bahah','AlBahah')
df['city'] = df['city'].str.replace('AlMajmaâ€˜ah','AlMajardah')
df['city'] = df['city'].str.replace('AlMajmaâ€˜ah','AlMajardah')
df['city'] = df['city'].str.replace('Riyadhh','Riyadh')
df['city'] = df['city'].str.replace('Ḩafar','HafarAlbatin')
df['city'] = df['city'].str.replace('Bedaah','Madinah')
df['city'] = df['city'].str.replace('Qal‘at','Qatif')
df['city'] = df['city'].str.replace('AdDawādimī','AlDuwadimi')
df['city'] = df['city'].str.replace('AlYasmeen','Riyadh')
df['city'] = df['city'].str.replace('Beesh','Bisha')
df['city'] = df['city'].str.replace('Ḩuraymila','Huraymila')
df['city'] = df['city'].str.replace('AlBakhraa','Remote')
df['city'] = df['city'].str.replace('AlHufūf','AlHufuf')
df['city'] = df['city'].str.replace('First','Remote')
df['city'] = df['city'].str.replace('Khamis','Khamis_Mushait')
df['city'] = df['city'].str.replace('AlJazirah','Remote')
df['city'] = df['city'].str.replace('Dasimah','Riyadh')
df['city'] = df['city'].str.replace('Chalon','Remote')
df['city'] = df['city'].str.replace('AlMalga','Riyadh')
df['city'] = df['city'].str.replace('AlMalaz','Riyadh')
df['city'] = df['city'].str.replace('Tuwaiq','Riyadh')
df['city'] = df['city'].str.replace('AlSulaimaniyah','Riyadh')
df['city'] = df['city'].str.replace('Sakākah','Sakakah')
df['city'] = df['city'].str.replace('Jawharat','Riyadh')
df['city'] = df['city'].str.replace('AlBadai','Albadai')
df['city'] = df['city'].str.replace('AlGhamas','AlNamas')
df['city'] = df['city'].str.replace('AlHamra','Riyadh')
df['city'] = df['city'].str.replace('AlUlayah','Riyadh')
df['city'] = df['city'].str.replace('AlWaha','Riyadh')
df['city'] = df['city'].str.replace('AlRoudah','Jeddah')
df['city'] = df['city'].str.replace('Azzarqa','AlBahah')
df['city'] = df['city'].str.replace('AlRaid','Riyadh')
df['city'] = df['city'].str.replace('AlRahmaniyah','Riyadh')
df['city'] = df['city'].str.replace('AlWorood','Riyadh')
df['city'] = df['city'].str.replace('Baha','AlBahah')
df['city'] = df['city'].str.replace('AlNuzha','Riyadh')
df['city'] = df['city'].str.replace('AlQadesiyah','Riyadh')
df['city'] = df['city'].str.replace('Ţurayf','Turaif')
df['city'] = df['city'].str.replace('AlBukayrīyah','Albukairyah')
df['city'] = df['city'].str.replace('Sulaimaniyah','Riyadh')
df['city'] = df['city'].str.replace('Ishbayliyah','Riyadh')
df['city'] = df['city'].str.replace('Yanbu‘','Yanbu')
df['city'] = df['city'].str.replace('Radhwa','Remote')
df['city'] = df['city'].str.replace('King','Jeddah')
df['city'] = df['city'].str.replace('Alsnaeia','Madinah')
df['city'] = df['city'].str.replace('Eastern','Alsharqiyah')
df['city'] = df['city'].str.replace('Hailil','Hail')
df['city'] = df['city'].str.replace('AlMajal','Riyadh')
df['city'] = df['city'].str.replace('AlAlBahahh','AlBahah')
df['city'] = df['city'].str.replace('Ḑubā','Duba')
df['city'] = df['city'].str.replace('Ashifa','Taif')
df['city'] = df['city'].str.replace('Ḩā’il','Hail')
df['city'] = df['city'].str.replace('AlMajma‘ah','AlMajmaah')
df['city'] = df['city'].str.replace('AlLīth','AlLith')
df['city'] = df['city'].str.replace('Ras','RasTanura')
df['city'] = df['city'].str.replace('AlSaadah','Riyadh')
df['city'] = df['city'].str.replace('Quwayiyah','AlQuwayiyah')
df['city'] = df['city'].str.replace('Ain','AlAin')
df['city'] = df['city'].str.replace('Western','Remote')
df['city'] = df['city'].str.replace('Alhawiyah','Taif')
df['city'] = df['city'].str.replace('AlQaţīf','Qatif')
df['city'] = df['city'].str.replace('AlTaawon','Riyadh')
df['city'] = df['city'].str.replace('Alfaysalyah','Riyadh')
df['city'] = df['city'].str.replace('Dubai','Remote')
df['city'] = df['city'].str.replace('Fiji','Madinah')
df['city'] = df['city'].str.replace('AlNakheel','Riyadh')
df['city'] = df['city'].str.replace('Sihat','Saihat')
df['city'] = df['city'].str.replace('AlJawf','Sakakah')
df['city'] = df['city'].str.replace('Bahra','Jeddah')
df['city'] = df['city'].str.replace('AlKhalidiyah','Jeddah')
df['city'] = df['city'].str.replace('India','Remote')
df['city'] = df['city'].str.replace('Mhayel','MahayelAseer')
df['city'] = df['city'].str.replace('Alhufuf','AlHufuf')
df['city'] = df['city'].str.replace('Second','Remote')
df['city'] = df['city'].str.replace('Pulaski','Remote')
df['city'] = df['city'].str.replace('Ash','Alsharqiyah')
df['city'] = df['city'].str.replace('Star','Zulfi')
df['city'] = df['city'].str.replace('United','Remote')
df['city'] = df['city'].str.replace('Al‘Ulá','Al-Ula')
df['city'] = df['city'].str.replace('Milwaukee','Remote')
df['city'] = df['city'].str.replace('Sarat','SaratUbaida')
df['city'] = df['city'].str.replace('‘Remote‘ar','Remote')
df['city'] = df['city'].str.replace('Rhyd','Remote')
df['city'] = df['city'].str.replace('Domat','DumatAlJandal')
df['city'] = df['city'].str.replace('AlMutawakkel','Dammam')
df['city'] = df['city'].str.replace('Tanajib','Remote')
df['city'] = df['city'].str.replace('á¸¨uraymila','Huraymila')
df['city'] = df['city'].str.replace('AlDeri','Jeddah')
df['city'] = df['city'].str.replace('Finland','Remote')
df['city'] = df['city'].str.replace('Indiana','Remote')
df['city'] = df['city'].str.replace('AlHailda','Taif')
df['city'] = df['city'].str.replace('Umm','Umm_al-Hamam')
df['city'] = df['city'].str.replace('Shaqrā','Shaqra')
df['city'] = df['city'].str.replace('AlRemotetawiya','Remote')
df['city'] = df['city'].str.replace('Remoteir','Remote')
df['city'] = df['city'].str.replace('99999','Remote')
df['city'] = df['city'].str.replace('South','Remote')
df['city'] = df['city'].str.replace('Barbourville','Remote')
df['city'] = df['city'].str.replace('Stockton','Remote')
df['city'] = df['city'].str.replace('New','Remote')
df['city'] = df['city'].str.replace('Chesterfield','Remote')
df['city'] = df['city'].str.replace('Silver','Jeddah')
df['city'] = df['city'].str.replace('Ta\'if,','Taif')
df['city'] = df['city'].str.replace('Florida','Remote')
df['city'] = df['city'].str.replace('Remotenapolis','Remote')
df['city'] = df['city'].str.replace('AlAlAin','AlAin')
df['city'] = df['city'].str.replace('‘Ar‘ar','Arar')
df['city'] = df['city'].str.replace('‘Afīf','Afif')
df['city'] = df['city'].str.replace('Paterson','Remote')
df['city'] = df['city'].str.replace('AlDoha','Remote')
df['city'] = df['city'].str.replace('Najrān','Najran')
df['city'] = df['city'].str.replace('Northern','Remote')
df['city'] = df['city'].str.replace('Buffalo','Remote')
df['city'] = df['city'].str.replace('Tarboro','Remote')
df['city'] = df['city'].str.replace('Å¢urayf','Turaif')
df['city'] = df['city'].str.replace('Banban','Riyadh')
df['city'] = df['city'].str.replace('AlOlaya','Riyadh')
df['city'] = df['city'].str.replace('Alehsaa','Ahsa')
df['city'] = df['city'].str.replace('AlHada','Taif')
df['city'] = df['city'].str.replace('East','Alsharqiyah')
df['city'] = df['city'].str.replace('Khurais','Riyadh')
df['city'] = df['city'].str.replace('AlBakhrā’','Remote')
df['city'] = df['city'].str.replace('Laurel','Makkah')
df['city'] = df['city'].str.replace('Oakland','Remote')
df['city'] = df['city'].str.replace('Oak','Remote')
df['city'] = df['city'].str.replace('Alcoa','Remote')
df['city'] = df['city'].str.replace('Oberlin','Remote')
df['city'] = df['city'].str.replace('Shaqra’','Shaqra')
df['city'] = df['city'].str.replace('AlḨa’ir','AlHair')
df['city'] = df['city'].str.replace('AlHezam','Makkah')
df['city'] = df['city'].str.replace('Lake','Dhahban')
df['city'] = df['city'].str.replace('Pasadena','Remote')
df['city'] = df['city'].str.replace('AlJabal','Jeddah')
df['city'] = df['city'].str.replace('Hasah','Ahsa')
df['city'] = df['city'].str.replace('Dawmat','DumatAlJandal')
df['city'] = df['city'].str.replace('AlBahr','Yanbu')
df['city'] = df['city'].str.replace('Haradh','Ahsa')
df['city'] = df['city'].str.replace('Remotena','Remote')
df['city'] = df['city'].str.replace('AlMualimeen','AlHufuf')
df['city'] = df['city'].str.replace('AlAlBahah','AlBahah')
df['city'] = df['city'].str.replace('AlAziziah','Jeddah')
df['city'] = df['city'].str.replace('Kansas','Remote')
df['city'] = df['city'].str.replace('Wellington','Remote')
df['city'] = df['city'].str.replace('Hamilton','Remote')
df['city'] = df['city'].str.replace('Harrisonburg','Remote')
df['city'] = df['city'].str.replace('Sumter','Remote')
df['city'] = df['city'].str.replace('Souderton','Remote')
df['city'] = df['city'].str.replace('AlArtawiya','Remote')
df['city'] = df['city'].str.replace('AlKhafji','Khafji')
df['city'] = df['city'].str.replace('Sakaka','Sakakah')
df['city'] = df['city'].str.replace('AlMidhnab','AlMuthneb')
df['city'] = df['city'].str.replace('AlQurayyat','Qurayyat')
df['city'] = df['city'].str.replace('AlQurayat','Qurayyat')
df['city'] = df['city'].str.replace('turaif','Turaif')
df['city'] = df['city'].str.replace('AlQasim','AlQassim')
df['city'] = df['city'].str.replace('Qaseem','AlQassim')

In [17]:
print(df['city'].unique())

['Riyadh' 'Jeddah' 'Remote' 'Dammam' 'Khobar' 'Rabigh' 'Makkah' nan
 'Yanbu' 'Dhahran' 'Madinah' 'Jubail' 'Jazan' 'Ahsa' 'Tabuk' 'AlQassim'
 'Taif' 'Najran' 'Hail' 'AlBahah' 'HafarAlbatin' 'Alsharqiyah' 'AlKharj'
 'AlKhobar' 'Qatif' 'AlDuwadimi' '' 'Bisha' 'Huraymila' 'AlHufuf'
 'AlMuthneb' 'Khamis_Mushait' 'Abha' 'AlDhahran' 'Sakakahh' 'Albadai'
 'AlNamas' 'Buraydah' 'Yadma' 'Turaif' 'Badr' 'Qurayyat' 'Albukairyah'
 'AlAflaj' 'Hinakiyah' 'Duba' 'Unayzah' 'AlMajmaah' 'Khafji' 'AlLith'
 'RasTanura' 'AlShuqaiq' 'AlQuwayiyah' 'AlAin' 'Sharorah' 'Abqaiq'
 'Dhahban' 'Saihat' 'Balqarn' 'Thuwal' 'MahayelAseer' 'Zulfi' 'AlMajardah'
 'AlUla' 'SaratUbaida' 'Arar' 'DumatAlJandal' 'AlWajh' 'LeMéridien'
 'Umm_al-Hamam' 'Harad' 'AlHair' 'RiyadhBin' 'AlMubarraz' 'AlMajma'
 'Rafha' 'Neom' 'Baysh' 'OmAlsharqiyahr' 'AlFarah' 'Sakakah' 'Safwa'
 'Afif' 'Asir' 'AlDiriyah' 'Shaqra' 'AlKhurmah']

In [18]:
#convert blank space to null values
df['city']=df['city'].replace(r'', np.NaN)

In [19]:
#fill null values
df['city']=df['city'].fillna('NotDefined')

In [20]:
for char in spec_chars:
    df['city'] = df['city'].str.replace(char, '')

In [21]:
print(df['city'].unique())

['Riyadh' 'Jeddah' 'Remote' 'Dammam' 'Khobar' 'Rabigh' 'Makkah'
 'NotDefined' 'Yanbu' 'Dhahran' 'Madinah' 'Jubail' 'Jazan' 'Ahsa' 'Tabuk'
 'AlQassim' 'Taif' 'Najran' 'Hail' 'AlBahah' 'HafarAlbatin' 'Alsharqiyah'
 'AlKharj' 'AlKhobar' 'Qatif' 'AlDuwadimi' 'Bisha' 'Huraymila' 'AlHufuf'
 'AlMuthneb' 'KhamisMushait' 'Abha' 'AlDhahran' 'Sakakahh' 'Albadai'
 'AlNamas' 'Buraydah' 'Yadma' 'Turaif' 'Badr' 'Qurayyat' 'Albukairyah'
 'AlAflaj' 'Hinakiyah' 'Duba' 'Unayzah' 'AlMajmaah' 'Khafji' 'AlLith'
 'RasTanura' 'AlShuqaiq' 'AlQuwayiyah' 'AlAin' 'Sharorah' 'Abqaiq'
 'Dhahban' 'Saihat' 'Balqarn' 'Thuwal' 'MahayelAseer' 'Zulfi' 'AlMajardah'
 'AlUla' 'SaratUbaida' 'Arar' 'DumatAlJandal' 'AlWajh' 'LeMéridien'
 'UmmalHamam' 'Harad' 'AlHair' 'RiyadhBin' 'AlMubarraz' 'AlMajma' 'Rafha'
 'Neom' 'Baysh' 'OmAlsharqiyahr' 'AlFarah' 'Sakakah' 'Safwa' 'Afif' 'Asir'
 'AlDiriyah' 'Shaqra' 'AlKhurmah']

In [22]:
#add new column region >> extract first word from city column
df['Regions'] = df['city'].str.split(' ').str[0]

In [23]:
df.loc[df['Regions'].str.contains('Jeddah|Makkah|Rabigh|Taif|Thuwal|Dhahban|AlKhurmah|AlLith'), 
                  'Regions'] = 'Makkah'

df.loc[df['Regions'].str.contains('Riyadh|AlKharj|AlHair|AlMajma|AlDuwadimi|AlQuwayiyah|Shaqra|AlAflaj|Afif|AlDiriyah|Huraymila|Zulfi|UmmalHamam'), 
                  'Regions'] = 'Riyadh'

df.loc[df['Regions'].str.contains('Dammam|AlKhobar|Alsharqiyah|Jubail|Dhahran|Khobar|RasTanura|Abqaiq|Qatif|AlHufuf|Ahsa|Safwa|Khafji|Harad|Umm_al-Hamam|Saihat|AlMubarraz|HafarAlbatin'), 
                  'Regions'] = 'Eastern'

df.loc[df['Regions'].str.contains('Khamis_Mushait|Abha|AlMajardah|MahayelAseer|AlFarah|Balqarn|Bisha|SaratUbaida|AlNamas|KhamisMushait'), 
                  'Regions'] = 'Asir'

df.loc[df['Regions'].str.contains('Jazan|AlShuqaiq|Baysh'), 
                  'Regions'] = 'Jazan'

df.loc[df['Regions'].str.contains('Madinah|Yanbu|Badr|Hinakiyah|Al-Ula|AlUla'), 
                  'Regions'] = 'Medina'

df.loc[df['Regions'].str.contains('Buraydah|AlQassim|AlMuthneb|Albadai|Albukairyah|Unayzah'), 
                  'Regions'] = 'AlQassim'

df.loc[df['Regions'].str.contains('Tabuk|AlWajh|Neom|Duba'), 
                  'Regions'] = 'Tabuk'

df.loc[df['Regions'].str.contains('Hail'), 
                  'Regions'] = 'Hail'

df.loc[df['Regions'].str.contains('Najran|Sharorah|Yadma'), 
                  'Regions'] = 'Najran'

df.loc[df['Regions'].str.contains('Sakakah|Qurayyat|DumatAlJandal'), 
                  'Regions'] = 'AlJawf '

df.loc[df['Regions'].str.contains('AlBahah|AlAin'), 
                  'Regions'] = 'AlBahah'

df.loc[df['Regions'].str.contains('Turaif|Rafha|Arar'), 
                  'Regions'] = 'Northern Borders'

df.loc[df['Regions'].str.contains('NotDefined'), 
                  'Regions'] = 'NotDefind'

df.loc[df['Regions'].str.contains('Remote|LeMéridien'),
                  'Regions'] = 'Remote'


# |As|Ta|Abu|Aţ|Le|Ha|Ar|Om|AlImam|At

In [24]:
pd.options.display.max_rows = 4000
df['Regions'].value_counts()

Riyadh              22735
Remote               9124
Makkah               6522
Eastern              6379
Medina               1845
Jazan                 781
AlQassim              373
Tabuk                 216
Asir                  198
NotDefind              75
Hail                   49
AlBahah                46
AlJawf                 42
Northern Borders       34
Najran                 30
Name: Regions, dtype: int64

### Industries column Cleaning

In [25]:
for char in spec_chars:
    df['industries'] = df['industries'].str.replace(char, '')

In [26]:
#Replace blank space column to null values

df['industries']=df['industries'].replace(r'', np.NaN)

In [27]:
#drop null values
df=df.dropna(subset=['industries'])

### Processing industries column

In [28]:
df.industries.sample(60)

7392                                           Oil  Energy
8882     Information Technology and Services Computer S...
31074                   ElectricalElectronic Manufacturing
39151            Automotive Staffing and Recruiting Retail
38705                                    Civil Engineering
25216    TransportationTruckingRailroad Maritime Logist...
39344                                          Hospitality
42006                                           Accounting
23799                                       Consumer Goods
8684                                              Internet
7729       Higher Education Research International Affairs
47599                  Information Technology and Services
7456                                                Retail
45757                           Logistics and Supply Chain
19985    Computer Software Information Technology and S...
10224                            Government Administration
3935                                       Human Resources
15778    AirlinesAviation Facilities Services Transport...
15992    Logistics and Supply Chain Marketing and Adver...
42291    Staffing and Recruiting Consumer Services Tran...
34277          Construction Oil  Energy Financial Services
23691    Information Technology and Services Telecommun...
14257    Construction Mechanical or Industrial Engineer...
7999                    ElectricalElectronic Manufacturing
45438                           Logistics and Supply Chain
42191       Construction Oil  Energy Hospital  Health Care
23677    Information Technology and Services Banking Fi...
27533    Civil Engineering Construction Management Cons...
41476    Marketing and Advertising Internet Mechanical ...
34029    Automotive Individual  Family Services Consume...
5472                                   Utilities Machinery
39925    Information Technology and Services Internet S...
44582                                   Telecommunications
2049     Construction Information Technology and Servic...
24910                  Information Technology and Services
15746                 Mechanical or Industrial Engineering
25809                                         Construction
12831    Information Technology and Services Computer S...
11868                                       Consumer Goods
7785         Investment Banking Financial Services Banking
14748    Architecture  Planning Civil Engineering Const...
40482    Nonprofit Organization Management Health Welln...
7629     Mechanical or Industrial Engineering Building ...
38267        Government Administration Program Development
17403                                         Construction
30372                  Information Technology and Services
24716                                           Automotive
14609                           Banking Financial Services
22444                                 Consumer Electronics
21942    Computer Software Information Technology and S...
30415                                            Chemicals
7725                                       Events Services
1041                  Mechanical or Industrial Engineering
7182                                           Oil  Energy
9184        Management Consulting Market Research Research
35712                                          Hospitality
32794    Information Technology and Services Computer S...
4780     Computer Software Information Technology and S...
24163           Human Resources Military Civil Engineering
13606                                    Computer Software
Name: industries, dtype: object

In [29]:
# print how many unique values in industries column

df.industries.nunique()

3451

In [30]:
split1=df.groupby("industries")

In [31]:
split1=list(split1)

In [32]:
len(split1)

3451

In [33]:
print(split1)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [34]:
#extract from industries groupind data 

df['industry_cat'] = df['industries'].str.extract(
    r'(Administrative|Business Supplies and Equipment|Chemicals|Business Development|Building Materials|Capital Markets|Business Supplies and Equipment|Business Development|Building Materials|Banking|Aviation  Aerospace|Biotechnology|Broadcast Media|Automotive|Arts and Crafts|Architecture  Planning|Apparel  Fashion|Automotive|Animation|AccountingAuditing|Market Research|Oil  Energy|Insurance|Hospitality|Food Production|Food  Beverages|Information Technology and Services|Hospital  Health Care|Fashion|Financial Services|Architecture  Planning|AirlinesAviation|Accounting|Civic  Social Organization|Civil Engineering|Commercial Real Estate|Computer  Network Security|Computer Games|Computer Hardware|Computer Networking|Computer Software|Construction|Consulting|Consumer Electronics|Consumer Goods|Consumer Services|Cosmetics|Customer Service Sales|Dairy|Defense  Space|Design|ELearning|Education|ElectricalElectronic|Entertainment|Environmental Services|Events Services|Executive Services|Facilities Services|Farming|Fine Art|Furniture|Graphic Design|Glass Ceramics|Government Administration|Government Relations|Graphic Design|Human Resources|Health Care Provider|Individual  Family Services|Information Services|Internet|Investment|Law|Legal Service|Leisure Travel  Tourism|Logistic and Supply Chain|Luxury Goods  Jewelry|Machinery|Marketing and Advertising|Market Research|Management Consulting|Media|Medical|Mental Health Care|Military|Mobile Game|Music|Museums|Nanotechnology|Newspapers|Oil  Energy|Online Media|Real Estate|Security|Retail|Sports|Supermarkets|Telecommunication|Writing|Warehousing|Utilites|Venture Capital|Wholesale|Sporting Goods|Research|Publishing|Public Safety|Public Policy|Public Relations|Photography|Packaging and Containers|Quality Assurance|Purchasing Supply Chain|OutsourcingOffshoring|Pharmaceuticals|Plastics|Training|Motion Pictures|International Trade|International Affairs|Import and Export|Industrial Automation|Maritime|Mechanical|Program Development|Project Management|Mining|Philanthropy|Printing|TransportationTruckingRailroad|Restaurants|Health Wellness and Fitness|Paper  Forest Products|Higher Education|Renewables  Environment|Semiconductors|Staffing and Recruiting|Textiles|Tobacco|Translation and Localization|Venture Capital|Veterinary|Alternative Dispute Resolution|Analyst|Aviation  Aerospace|Hospital  Health Care|Industrial Automation )')

In [35]:
print(df['industry_cat'].value_counts())

Information Technology and Services    6554
Construction                           3937
Marketing and Advertising              2036
Consumer Goods                         1658
Computer Software                      1572
ElectricalElectronic                   1491
Food  Beverages                        1427
Hospital  Health Care                  1376
Staffing and Recruiting                1232
Retail                                 1179
Oil  Energy                            1029
Hospitality                            1016
Management Consulting                   893
Civil Engineering                       854
Internet                                842
Mechanical                              834
Consumer Services                       825
Restaurants                             603
Leisure Travel  Tourism                 602
Pharmaceuticals                         594
Chemicals                               593
Information Services                    579
Human Resources                         577
Medical                                 536
Architecture  Planning                  514
Automotive                              508
Government Administration               501
Telecommunication                       495
Financial Services                      491
Defense  Space                          480
Real Estate                             475
Insurance                               451
Banking                                 408
Health Wellness and Fitness             402
Accounting                              354
Investment                              291
Education                               269
Consumer Electronics                    263
Computer  Network Security              239
Facilities Services                     219
Food Production                         211
TransportationTruckingRailroad          207
AirlinesAviation                        189
Higher Education                        172
Commercial Real Estate                  161
Biotechnology                           161
Design                                  160
Computer Hardware                       153
Entertainment                           141
Government Relations                    136
Events Services                         135
Luxury Goods  Jewelry                   110
Furniture                               110
Individual  Family Services             100
Translation and Localization             99
Public Relations                         96
Environmental Services                   93
Apparel  Fashion                         88
Renewables  Environment                  87
OutsourcingOffshoring                    84
Cosmetics                                77
Building Materials                       75
Legal Service                            73
Plastics                                 69
Warehousing                              69
Online Media                             65
Import and Export                        59
Aviation  Aerospace                      58
ELearning                                58
Maritime                                 55
Sports                                   48
Industrial Automation                    48
Machinery                                48
Packaging and Containers                 47
Research                                 47
Business Supplies and Equipment          43
International Trade                      43
Capital Markets                          41
Mining                                   37
Law                                      35
Wholesale                                32
Computer Networking                      32
Venture Capital                          31
Veterinary                               30
Training                                 29
Mental Health Care                       29
Market Research                          29
Media                                    29
Business Development                     27
Program Development                      24
Broadcast Media                          24
Paper  Forest Products                   23
Nanotechnology                           22
Civic  Social Organization               21
International Affairs                    19
Military                                 17
Graphic Design                           16
Dairy                                    15
Public Safety                            15
Project Management                       14
Public Policy                            14
Farming                                  14
Printing                                 14
Consulting                               13
Security                                 12
Publishing                               12
Computer Games                           11
AccountingAuditing                        9
Arts and Crafts                           9
Museums                                   9
Supermarkets                              8
Animation                                 8
Writing                                   8
Newspapers                                8
Textiles                                  7
Administrative                            6
Health Care Provider                      6
Sporting Goods                            6
Motion Pictures                           5
Music                                     5
Alternative Dispute Resolution            5
Tobacco                                   4
Purchasing Supply Chain                   4
Analyst                                   3
Glass Ceramics                            3
Semiconductors                            3
Photography                               3
Fine Art                                  2
Quality Assurance                         1
Customer Service Sales                    1
Philanthropy                              1
Name: industry_cat, dtype: int64

In [36]:
#drop null values
df=df.dropna(subset=['industry_cat'])

In [37]:
print(df['industry_cat'].unique())

['Banking' 'Government Administration' 'Consumer Goods'
 'Aviation  Aerospace' 'Accounting' 'Information Technology and Services'
 'Construction' 'Financial Services' 'Management Consulting' 'Mechanical'
 'Marketing and Advertising' 'Automotive' 'Internet' 'Oil  Energy'
 'Design' 'Hospital  Health Care' 'Consumer Electronics'
 'Architecture  Planning' 'Food Production' 'Facilities Services'
 'Restaurants' 'Food  Beverages' 'Investment' 'Pharmaceuticals'
 'Entertainment' 'Higher Education' 'TransportationTruckingRailroad'
 'Online Media' 'Real Estate' 'Leisure Travel  Tourism' 'Retail'
 'Civil Engineering' 'ElectricalElectronic' 'Computer Software'
 'Import and Export' 'Arts and Crafts' 'Medical' 'Apparel  Fashion'
 'Staffing and Recruiting' 'Building Materials' 'Defense  Space'
 'Commercial Real Estate' 'Information Services' 'OutsourcingOffshoring'
 'Environmental Services' 'Hospitality' 'Health Wellness and Fitness'
 'AirlinesAviation' 'Human Resources' 'Maritime' 'Market Research'
 'Sports' 'Insurance' 'Biotechnology' 'Telecommunication'
 'Motion Pictures' 'Events Services' 'Research' 'ELearning'
 'Packaging and Containers' 'Public Safety' 'Capital Markets'
 'Computer  Network Security' 'Public Policy' 'Education' 'Cosmetics'
 'Consumer Services' 'Renewables  Environment' 'Media'
 'Government Relations' 'Chemicals' 'Furniture' 'Computer Hardware'
 'International Trade' 'Graphic Design' 'Computer Networking'
 'Public Relations' 'Tobacco' 'Supermarkets' 'Luxury Goods  Jewelry'
 'Industrial Automation' 'Training' 'Dairy' 'Individual  Family Services'
 'Fine Art' 'Philanthropy' 'Translation and Localization' 'Military'
 'Machinery' 'Warehousing' 'Nanotechnology' 'Plastics' 'Printing'
 'Textiles' 'Security' 'Law' 'Wholesale' 'Broadcast Media'
 'Business Supplies and Equipment' 'Writing' 'Civic  Social Organization'
 'Venture Capital' 'Alternative Dispute Resolution'
 'International Affairs' 'Publishing' 'Paper  Forest Products'
 'Glass Ceramics' 'Program Development' 'Veterinary' 'Legal Service'
 'Mental Health Care' 'Animation' 'Computer Games' 'Mining' 'Farming'
 'Newspapers' 'Semiconductors' 'Administrative' 'Business Development'
 'Customer Service Sales' 'Project Management' 'AccountingAuditing'
 'Purchasing Supply Chain' 'Quality Assurance' 'Consulting'
 'Health Care Provider' 'Analyst' 'Museums' 'Sporting Goods' 'Music'
 'Photography']

In [38]:
#Replace blank space column to null values
df['industry_cat']=df['industry_cat'].replace(r'', np.NaN)

In [39]:
df.isnull().sum()

linkedin_id         6
position_id         0
position            0
company             0
location            0
level              17
date                0
job_functions       0
industries          0
description      1449
day                 0
month               0
quarter             0
city                0
Regions             0
industry_cat        0
dtype: int64

### Jop function column Cleaning

In [40]:
for char in spec_chars:
    df['job_functions'] = df['job_functions'].str.replace(char, '')

In [41]:
#Replace blank space column to null values
df['job_functions']=df['job_functions'].replace(r'', np.NaN)

In [42]:
#drop null values
df=df.dropna(subset=['job_functions'])

### Level column Cleaning

In [43]:
for char in spec_chars:
    df['level'] = df['level'].str.replace(char, '')

In [44]:
df['level']=df['level'].fillna('Not Applicable')

### Company column Cleaning

In [45]:
for char in spec_chars:
    df['company'] = df['company'].str.replace(char, '')

In [46]:
df['company']=df['company'].fillna('other')

### position column Cleaning

In [47]:
for char in spec_chars:
    df['position'] = df['position'].str.replace(char, '')

### Create a new column Total Positions in each company

In [48]:
df['TotalPositions'] = df['company'].str.split(' ').str[0]

In [49]:
df['TotalPositions'] = df.groupby('company')['position'].transform('count')

### Create a new column Positions in each company By Month

In [50]:
df['PositionsByMonth'] = df.groupby('month')['position'].transform('count')

In [51]:
MonthPositions=np.unique(df[['month','PositionsByMonth']], axis=0)

In [52]:
df_MonthPositions = pd.DataFrame(MonthPositions)

In [53]:
print(df_MonthPositions)

     0     1
0    1  2339
1    2  2531
2    3  2160
3    4  2209
4    5  2389
5    6  2724
6    7  2571
7    8  2879
8    9  4031
9   10  4860
10  11  6071
11  12  7809

In [54]:
CompanyPositions = df.groupby('company')['TotalPositions'].sum()

In [55]:
df['TotalPositions'] = df.groupby('company')['position'].transform('count')

In [56]:
CompanyPositions = df.groupby('company').agg(TotalPositions = ('TotalPositions', 'sum'))

print(CompanyPositions)

                                        TotalPositions
company
                                                     9
  Financial Services                                 1
  Non woven products industry factory                9
 Abdulrahman AlOtaishan  Sons Group CO               1
 Alamjaad Group                                      1
...                                                ...
نجمة الصحراء                                         4
هدايا جَوَى                                          1
وزارة الثقافة Ministry of Culture                    1
وكالة بيت البرند للدعاية والاعلان                    1
وهج الماس                                            1

[5604 rows x 1 columns]

In [57]:
pd.options.display.max_rows = 4000
CompanyPositions.value_counts()

TotalPositions
1                 2438
4                  941
9                  475
16                 347
25                 232
36                 153
49                 112
64                  94
81                  76
121                 58
100                 55
144                 51
169                 42
289                 35
196                 31
256                 29
225                 27
324                 25
361                 22
441                 19
400                 17
676                 15
529                 15
484                 13
1296                10
961                 10
625                  9
1089                 9
784                  9
576                  9
841                  8
1225                 7
1156                 7
1024                 7
900                  7
2601                 6
2025                 6
1764                 6
1849                 5
3481                 5
2500                 5
2116                 5
4096                 5
1600                 5
1936                 4
3136                 4
5476                 4
729                  4
1521                 4
3249                 4
1681                 4
3721                 3
3600                 3
6084                 3
5041                 3
3025                 3
5329                 3
2704                 3
1444                 3
2401                 3
2304                 3
7569                 2
7921                 2
8100                 2
8836                 2
15376                2
10609                2
11449                2
13225                2
20736                2
24336                2
36100                2
164025               2
6241                 2
10201                2
5184                 2
4900                 2
4489                 2
2916                 2
5929                 1
132496               1
30976                1
2809                 1
38416                1
44944                1
46225                1
47961                1
64009                1
68121                1
84100                1
149769               1
135424               1
29584                1
2209                 1
172225               1
184900               1
238144               1
241081               1
292681               1
370881               1
524176               1
874225               1
29929                1
25281                1
27889                1
11881                1
7396                 1
4761                 1
8464                 1
9604                 1
9801                 1
4356                 1
4225                 1
11025                1
3969                 1
12544                1
5625                 1
12769                1
3844                 1
1369                 1
16641                1
17689                1
3364                 1
21904                1
24649                1
24964                1
1602756              1
dtype: int64

### Drop Uneeded columns

In [58]:
#drop linkedin_id and position_id
df= df.drop(['linkedin_id'], axis=1)
df= df.drop(['position_id'], axis=1)
df= df.drop(['location'], axis=1)
df= df.drop(['date'], axis=1)

### Processing Description column

In [59]:
#Convert data type to string 
df['description'] = df['description'].astype('str')

In [60]:
for char in spec_chars:
    df['description'] = df['description'].str.replace(char, ' ')

In [61]:
df= df.dropna(subset=['description'])

In [62]:
# Checking the uniqu values for all categorical features's values
for col in df:
    if df[col].dtype=="object":
        print(col,":",df[col].unique())

position : ['Head of Branding Governance Unit ' 'Employee Engagement Specialist'
 'Account Manager GPS  Riyadh' ... 'Consultant PICU'
 'اخصائي عناية مركزة قلب أطفال' 'Group Exercise  Personal Training']
company : ['Riyad Bank' 'PepsiCo' 'EY' ... 'Smartmessage' 'Diversephds'
 'Atyab AlKaram International']
level : ['MidSenior level' 'Not Applicable' 'Director' 'Associate' 'Entry level'
 'Internship' 'Executive']
job_functions : ['Marketing Management' 'Human Resources' 'Sales Business Development' ...
 'Project Management Human Resources Information Technology'
 'Sales and Business Development' 'Management and Manufacturing']
industries : ['Banking' 'Consumer Goods Food  Beverages'
 'Accounting Financial Services' ...
 'Hospital  Health Care Human Resources'
 'Food  Beverages Food Production Real Estate'
 'Manufacturing Financial Services and Retail']
description : ['nan'
 'Auto req ID  199735BRJob DescriptionPepsiCo Saudi Snacks For Foods Limited established in 1995 with 2 plants in Riyadh   Dammam   more than 2 500 employees in KSA   UAE  Our brands include Lays  Doritos  Sunbites  Cheetos  Tasali   Quaker Our employees are at the heart of PepsiCo  Through the Company s commitment to Talent Sustainability  we continue to support the development of employees  At PepsiCo  you get the best of both worlds  an entrepreneurs mindset plus reach and resources  Our collaborative culture and worldwide presence generate a stream of new opportunities to define the future and propel your lifes work  Bring your unique perspective  Bring curiosity  Bring ingenuity  and drive  Well give you a platform to be daring on a global scale Job PurposeTo maintain the internal Employee Engagement in the organization and support in material and content design and communication Principal AccountabilitiesOwn the engagement calendar and draft a plan with respective location HR team on execution plan as per the timelineIn charge for all internal communication and material design Research and work with vendors and other departments to build employee engagement initiatives Manage all communication channels and review the writeup for activities during the year Manage all branding for Head Office and other locations to be in line with PepsiCo guide and directions Develop and maintain positive employee relations to create strong employee engagementManage the intranet content and update it on a regular basis with Function Head alignmentDrive the Fun and Engagement agenda mainly for the Head Office and make sure other locations lift and shift the activitiesBuild and manage a library of materials and logos that support employees build communication Serve as project point person on specific segments of employee engagement and communications programs  including contests  meeting logistics  meeting recaps  budget summaries  etc   to ensure all engagement programs are successfully implemented  MENAQualifications RequirementsExperience  Competencies Required Bachelors degree in Communications or Public Relations or a related field  essential  A minimum of 1 to 2 years experience in communications strategy development  essential  Excellent written and verbal communication skills Works well under pressure and meets tight deadlines Highly computer literate with capability in email  MS Office and related business and communication tools Content writing experience for all media platforms Strategic and creative mindset Meticulous attention to detail Experience in delivering appropriate interventions given identification of potential operational people issues Ideally an assertive individual with strong interpersonal and persuasive skills  attention to detail and intellectual curiosity Computer literacy and good knowledge in the Canva and Appspace Relocation Eligible  Eligible for Standard RelocationJob Type  Regular'
 'In a business where are our people are our products and assets inspiring excellence in how we engage with our clients is something that we are passionate about  As Market Segment Account Centric Business Development Manager  you will be focusing on multiple Core accounts within a Market Segment  drive global accounts strategy  rigorous account planning and relationship development across the client s  organization The opportunity As part of the primary account team  reporting to the regions Business Development Leader and with close connection to some of EYs senior leaders  Global Client Service Partners  also called the GCPS   your time will be focused on Go to Market activities to enable achievement of objective around account satisfaction  sales pipeline and margin Your Key Responsibilities Drives revenue  sales and relationships on multiple Core accountBeing connected to your clients business agenda and leveraging the global EY network to connect our clients to the right peopleBeing insightful through proactively sharing relevant metrics  trends and strategies to address and reach client needsAdvising the GCSP on account planning  strategy and managing key sales opportunitiesFacilitate client sessions   for example client facilitated sessions  Alliance introductions and exploration workshops etc Helping to develop broad and deep client relationshipsServing as a strategic advisory to the GCSP on the cross selling of our services  execution of the sales pipeline  reviewing deals  pricing and negotiationsEngaging with the account teams in the field to support on their most important pursuitsLeverage and drive strategic pursuits tools  which include EY sales tools  processes and methodologiesInstill strategic commercial pricing methodology to optimize account margin and participate in deal review process as requiredSkills And Attributes For Success Must be able to work within a matrixed organization balancing the needs of the client against firm initiatives and goalsNetworking with and assessing the needs of C suite buyer influencers and building rapport to ensure that EY are the provider of choiceBeing responsive and accountable for entire accounts activity from improving relations  starting new connections enhancing EYs top of mind within our Core accounts and any other required activates Strong ability to focus on commercial outcomes that align with the interests of our clientsPassionate about collaboration  teaming and sharing best practice To qualify you must have 7  years of experience in new business penetration and existing account managementDemonstrable negotiation and influencing skillsExperience in delivering business development support in complex multi country environmentsWorked with formal tendering processes and procedure and been part of pulling together exceptional standards of proposalsExposure to senior leaders  both internal and external  displaying examples of needs assessment and a focus on mutually beneficial solutionsExposure to and an understanding of working with people of many cultures and diversityExperience working in the Entertainment  Media or Consumer products industry  Ideally  you will also have A business commercial degree or post graduate Experience in budgeting and account forecasting People management and development experience Great knowledge of market activities Good business related experience background What We Look ForWe are looking for people who can combine  great listening skills  collaboration  influencing and commercial acumen  Being able thrive in an ever changing  diverse  multi cultural environment where we expect exceptional quality and show passion for your work will set you up for success What Working For EY OffersWe offer a competitive compensation package where youll be rewarded based on your performance and recognized for the value you bring to our business  We also offer Exposure to some of the greatest colleagues and clients in the industrySupport  feedback and coaching in a culture that values operational excellenceCareer potential to grow both within the MENA region and globallyA culture that will encourage you to grow you skills and strengths for your own betterment as well as that or EYAbout EYAs a global leader in assurance  tax  transaction and advisory services  were using the finance products  expertise and systems weve developed to build a better working world  That starts with a culture that believes in giving you the training  opportunities and creative freedom to make things better  Whenever you join  however long you stay  the exceptional EY experience lasts a lifetime  And with a commitment to hiring and developing the most passionate people  well make our ambition to be the best employer by 2020 a reality If you can confidently demonstrate that you meet the criteria above  please contact us as soon as possible Build your legacy with us  Apply now '
 ...
 '\n\n\nJOB PURPOSETo consistently deliver the Nandos Experience in accordance with the Nandos Brand and Operating Standards ensuring customer satisfaction and profitability MAIN RESPONSIBILITES Assist in developing the restaurant budget and ensure its adherence and to verify all daily  monthly and annual reports   paperwork as required have been completed and submitted timeously and correctly  Ensure efficient stock control management for the restaurant  ensure repairs and maintenance are taking place communicate results of internal and external audits of the restaurant to the management team and develop   manage a corrective action plan to improve results  Communicate and ensure compliance to the Nandos operational standards and operating requirements  Develop and monitor rostering on a weekly basis to ensure sufficient people capacity to meet the business requirements and complete  submit and monitor payroll information in accordance with relevant legislation and Nandos policies and procedures  To communicate  execute and evaluate all national  regional and local marketing campaigns and initiatives  Respond to all customer complaints in accordance with the Nandos policies and procedures  To draw up the community map and local marketing plan together with the management team  Analyse the mystery shopper report  communicate results to the management team and develop   manage a corrective action plan to improve results  To ensure induction and training of all new staff according to Nandos policies and procedures to proactively meet the needs of the business and ensure effective staff development and succession planning for the restaurant Handle employee disciplinary issues according to the company policies Handle employee disciplinary issues according to the company policies Knowledge And Skills Required Ideal candidate should have an overall 10 years of experience out of which minimum 2 years as a Restaurant Manager managing a branded international casual dining restaurant chain  Should have good command over English language  Ability to speak in Arabic is an advantage  Ability to analyze and understand market trends and environment  Should have good people management skills Job location   Can be in Riyadh  Jeddah  Khobar or Dammam Primary LocationSaudi ArabiaJobLandmark Hospitality OperationsOrganizationFoodmark KSASchedule label   RegularShiftStandardJob TypeFull timeJob LevelDay JobJob Posting   Sep 16  2020  7 46 06 PM\n\n\n        Show more\n\n        \n\n\n        Show less\n\n        \n\n\n'
 '\n\n\nJOB PURPOSE Ensure correct and effective financial administration according to Nandos policies   procedures on a daily basis  To assist in controlling expenditure and in achieving expected gross profit margins  Monitor performance against set daily targets  Turnover  Ticket Average  Customer Count   Ensure efficient stock control management for the restaurant on a daily basis and assist in developing the corrective action plan and facilitating actions necessary to improve internal and external audit results Communicate and ensure compliance to the Nandos operational standards and operating requirements  To ensure adherence to opening and closing procedures and assist with training of all new staff according to Nandos policies and procedures to proactively meet the needs of the business  To complete and check the attendance register and assist in ensuring that all staff are signed off on the relevant training material and procedures on an on going basis  To assist with communication and execution of all national  regional and local marketing campaigns and initiatives Respond to customer complaints in accordance with the Nandos policies and proceduresAssist in developing the corrective action plan and facilitating actions necessary to improve results of the mystery shopper reportKnowledge And Skills Required Ideal Candidate should have an overall 4 to 6 years of experience out of which 1 to 2 years as a Restaurant Supervisor at a branded international casual dining restaurant chain  Should have good command over English language  Ability to speak in Arabic is an advantage  Ability to analyze and understand market trends and environment  Should have good people management skills Job location   Can be in Riyadh  Jeddah  Khobar or Dammam Primary LocationSaudi ArabiaJobLandmark Hospitality OperationsOrganizationFoodmark KSASchedule label   RegularShiftStandardJob TypeFull timeJob LevelDay JobJob Posting   Sep 16  2020  7 43 39 PM\n      \n\n        Show more\n\n        \n\n\n        Show less\n\n        \n\n\n'
 '\n\n\n1 2 years of relevant experience within the fitness industry  Personal Training Certified  Self motivated and target driven  Excellent communication   interpersonal skills1 2 years of relevant experience within the fitness industry  Personal Training Certified  Self motivated and target driven  Excellent communication   interpersonal skillsPrimary LocationSaudi ArabiaJobLandmark Hospitality FitnessOrganizationFitness First KSASchedule label   RegularShiftStandardJob TypeFull timeJob LevelDay JobJob Posting   Sep 19  2019  6 18 54 PM\n      \n\n        Show more\n\n        \n\n\n        Show less\n\n        \n\n\n']
city : ['Riyadh' 'Remote' 'Jeddah' 'Khobar' 'Dammam' 'Madinah' 'Dhahran' 'Jubail'
 'Yanbu' 'Makkah' 'Jazan' 'Ahsa' 'Tabuk' 'AlQassim' 'Taif' 'Rabigh' 'Hail'
 'Najran' 'AlBahah' 'HafarAlbatin' 'Alsharqiyah' 'AlKharj' 'AlKhobar'
 'Qatif' 'AlDuwadimi' 'NotDefined' 'Bisha' 'Huraymila' 'AlHufuf'
 'AlMuthneb' 'Abha' 'Sakakahh' 'Albadai' 'AlNamas' 'AlDhahran'
 'KhamisMushait' 'Buraydah' 'Turaif' 'Badr' 'Albukairyah' 'AlAflaj'
 'Hinakiyah' 'Unayzah' 'Khafji' 'AlLith' 'RasTanura' 'AlShuqaiq' 'AlAin'
 'Sharorah' 'Abqaiq' 'Dhahban' 'Saihat' 'Balqarn' 'AlMajmaah'
 'AlQuwayiyah' 'Zulfi' 'AlMajardah' 'AlUla' 'SaratUbaida' 'Duba' 'Arar'
 'Thuwal' 'LeMéridien' 'UmmalHamam' 'Harad' 'DumatAlJandal' 'AlHair'
 'RiyadhBin' 'AlMubarraz' 'Rafha' 'Neom' 'Baysh' 'OmAlsharqiyahr'
 'AlFarah' 'Asir' 'Shaqra']
Regions : ['Riyadh' 'Remote' 'Makkah' 'Eastern' 'Medina' 'Jazan' 'Tabuk' 'AlQassim'
 'Hail' 'Najran' 'AlBahah' 'NotDefind' 'Asir' 'AlJawf ' 'Northern Borders']
industry_cat : ['Banking' 'Consumer Goods' 'Accounting'
 'Information Technology and Services' 'Construction' 'Financial Services'
 'Management Consulting' 'Mechanical' 'Marketing and Advertising'
 'Consumer Electronics' 'Architecture  Planning' 'Food Production'
 'Restaurants' 'Internet' 'Investment' 'Entertainment' 'Higher Education'
 'Online Media' 'Pharmaceuticals' 'Oil  Energy'
 'TransportationTruckingRailroad' 'Retail' 'Civil Engineering'
 'Leisure Travel  Tourism' 'Computer Software' 'Arts and Crafts' 'Medical'
 'Apparel  Fashion' 'Building Materials' 'Government Administration'
 'Hospital  Health Care' 'Automotive' 'Food  Beverages' 'AirlinesAviation'
 'Staffing and Recruiting' 'Maritime' 'Market Research' 'Real Estate'
 'Insurance' 'Biotechnology' 'Telecommunication' 'Facilities Services'
 'Motion Pictures' 'Research' 'Human Resources' 'ELearning'
 'Packaging and Containers' 'ElectricalElectronic' 'Defense  Space'
 'Health Wellness and Fitness' 'Public Policy' 'OutsourcingOffshoring'
 'Consumer Services' 'Hospitality' 'Cosmetics' 'Aviation  Aerospace'
 'Commercial Real Estate' 'Design' 'Government Relations' 'Furniture'
 'Education' 'Computer Hardware' 'Events Services' 'International Trade'
 'Graphic Design' 'Computer  Network Security' 'Import and Export'
 'Tobacco' 'Computer Networking' 'Supermarkets' 'Industrial Automation'
 'Environmental Services' 'Chemicals' 'Individual  Family Services'
 'Philanthropy' 'Media' 'Luxury Goods  Jewelry' 'Public Relations'
 'Training' 'Translation and Localization' 'Military' 'Sports' 'Machinery'
 'Renewables  Environment' 'Warehousing' 'Dairy' 'Nanotechnology'
 'Plastics' 'Printing' 'Textiles' 'Security' 'Law' 'Public Safety'
 'Wholesale' 'Broadcast Media' 'Business Supplies and Equipment' 'Writing'
 'Civic  Social Organization' 'Capital Markets' 'Venture Capital'
 'Information Services' 'Alternative Dispute Resolution'
 'International Affairs' 'Publishing' 'Paper  Forest Products'
 'Glass Ceramics' 'Program Development' 'Veterinary' 'Legal Service'
 'Mental Health Care' 'Animation' 'Computer Games' 'Mining' 'Farming'
 'Newspapers' 'Fine Art' 'Semiconductors' 'Administrative'
 'Business Development' 'Customer Service Sales' 'Project Management'
 'AccountingAuditing' 'Purchasing Supply Chain' 'Quality Assurance'
 'Consulting' 'Health Care Provider' 'Analyst' 'Museums' 'Sporting Goods'
 'Music' 'Photography']

In [63]:
df.description.unique()

array(['nan',
       'Auto req ID  199735BRJob DescriptionPepsiCo Saudi Snacks For Foods Limited established in 1995 with 2 plants in Riyadh   Dammam   more than 2 500 employees in KSA   UAE  Our brands include Lays  Doritos  Sunbites  Cheetos  Tasali   Quaker Our employees are at the heart of PepsiCo  Through the Company s commitment to Talent Sustainability  we continue to support the development of employees  At PepsiCo  you get the best of both worlds  an entrepreneurs mindset plus reach and resources  Our collaborative culture and worldwide presence generate a stream of new opportunities to define the future and propel your lifes work  Bring your unique perspective  Bring curiosity  Bring ingenuity  and drive  Well give you a platform to be daring on a global scale Job PurposeTo maintain the internal Employee Engagement in the organization and support in material and content design and communication Principal AccountabilitiesOwn the engagement calendar and draft a plan with respective location HR team on execution plan as per the timelineIn charge for all internal communication and material design Research and work with vendors and other departments to build employee engagement initiatives Manage all communication channels and review the writeup for activities during the year Manage all branding for Head Office and other locations to be in line with PepsiCo guide and directions Develop and maintain positive employee relations to create strong employee engagementManage the intranet content and update it on a regular basis with Function Head alignmentDrive the Fun and Engagement agenda mainly for the Head Office and make sure other locations lift and shift the activitiesBuild and manage a library of materials and logos that support employees build communication Serve as project point person on specific segments of employee engagement and communications programs  including contests  meeting logistics  meeting recaps  budget summaries  etc   to ensure all engagement programs are successfully implemented  MENAQualifications RequirementsExperience  Competencies Required Bachelors degree in Communications or Public Relations or a related field  essential  A minimum of 1 to 2 years experience in communications strategy development  essential  Excellent written and verbal communication skills Works well under pressure and meets tight deadlines Highly computer literate with capability in email  MS Office and related business and communication tools Content writing experience for all media platforms Strategic and creative mindset Meticulous attention to detail Experience in delivering appropriate interventions given identification of potential operational people issues Ideally an assertive individual with strong interpersonal and persuasive skills  attention to detail and intellectual curiosity Computer literacy and good knowledge in the Canva and Appspace Relocation Eligible  Eligible for Standard RelocationJob Type  Regular',
       'In a business where are our people are our products and assets inspiring excellence in how we engage with our clients is something that we are passionate about  As Market Segment Account Centric Business Development Manager  you will be focusing on multiple Core accounts within a Market Segment  drive global accounts strategy  rigorous account planning and relationship development across the client s  organization The opportunity As part of the primary account team  reporting to the regions Business Development Leader and with close connection to some of EYs senior leaders  Global Client Service Partners  also called the GCPS   your time will be focused on Go to Market activities to enable achievement of objective around account satisfaction  sales pipeline and margin Your Key Responsibilities Drives revenue  sales and relationships on multiple Core accountBeing connected to your clients business agenda and leveraging the global EY network to connect our clients to the right peopleBeing insightful through proactively sharing relevant metrics  trends and strategies to address and reach client needsAdvising the GCSP on account planning  strategy and managing key sales opportunitiesFacilitate client sessions   for example client facilitated sessions  Alliance introductions and exploration workshops etc Helping to develop broad and deep client relationshipsServing as a strategic advisory to the GCSP on the cross selling of our services  execution of the sales pipeline  reviewing deals  pricing and negotiationsEngaging with the account teams in the field to support on their most important pursuitsLeverage and drive strategic pursuits tools  which include EY sales tools  processes and methodologiesInstill strategic commercial pricing methodology to optimize account margin and participate in deal review process as requiredSkills And Attributes For Success Must be able to work within a matrixed organization balancing the needs of the client against firm initiatives and goalsNetworking with and assessing the needs of C suite buyer influencers and building rapport to ensure that EY are the provider of choiceBeing responsive and accountable for entire accounts activity from improving relations  starting new connections enhancing EYs top of mind within our Core accounts and any other required activates Strong ability to focus on commercial outcomes that align with the interests of our clientsPassionate about collaboration  teaming and sharing best practice To qualify you must have 7  years of experience in new business penetration and existing account managementDemonstrable negotiation and influencing skillsExperience in delivering business development support in complex multi country environmentsWorked with formal tendering processes and procedure and been part of pulling together exceptional standards of proposalsExposure to senior leaders  both internal and external  displaying examples of needs assessment and a focus on mutually beneficial solutionsExposure to and an understanding of working with people of many cultures and diversityExperience working in the Entertainment  Media or Consumer products industry  Ideally  you will also have A business commercial degree or post graduate Experience in budgeting and account forecasting People management and development experience Great knowledge of market activities Good business related experience background What We Look ForWe are looking for people who can combine  great listening skills  collaboration  influencing and commercial acumen  Being able thrive in an ever changing  diverse  multi cultural environment where we expect exceptional quality and show passion for your work will set you up for success What Working For EY OffersWe offer a competitive compensation package where youll be rewarded based on your performance and recognized for the value you bring to our business  We also offer Exposure to some of the greatest colleagues and clients in the industrySupport  feedback and coaching in a culture that values operational excellenceCareer potential to grow both within the MENA region and globallyA culture that will encourage you to grow you skills and strengths for your own betterment as well as that or EYAbout EYAs a global leader in assurance  tax  transaction and advisory services  were using the finance products  expertise and systems weve developed to build a better working world  That starts with a culture that believes in giving you the training  opportunities and creative freedom to make things better  Whenever you join  however long you stay  the exceptional EY experience lasts a lifetime  And with a commitment to hiring and developing the most passionate people  well make our ambition to be the best employer by 2020 a reality If you can confidently demonstrate that you meet the criteria above  please contact us as soon as possible Build your legacy with us  Apply now ',
       ...,
       '\n\n\nJOB PURPOSETo consistently deliver the Nandos Experience in accordance with the Nandos Brand and Operating Standards ensuring customer satisfaction and profitability MAIN RESPONSIBILITES Assist in developing the restaurant budget and ensure its adherence and to verify all daily  monthly and annual reports   paperwork as required have been completed and submitted timeously and correctly  Ensure efficient stock control management for the restaurant  ensure repairs and maintenance are taking place communicate results of internal and external audits of the restaurant to the management team and develop   manage a corrective action plan to improve results  Communicate and ensure compliance to the Nandos operational standards and operating requirements  Develop and monitor rostering on a weekly basis to ensure sufficient people capacity to meet the business requirements and complete  submit and monitor payroll information in accordance with relevant legislation and Nandos policies and procedures  To communicate  execute and evaluate all national  regional and local marketing campaigns and initiatives  Respond to all customer complaints in accordance with the Nandos policies and procedures  To draw up the community map and local marketing plan together with the management team  Analyse the mystery shopper report  communicate results to the management team and develop   manage a corrective action plan to improve results  To ensure induction and training of all new staff according to Nandos policies and procedures to proactively meet the needs of the business and ensure effective staff development and succession planning for the restaurant Handle employee disciplinary issues according to the company policies Handle employee disciplinary issues according to the company policies Knowledge And Skills Required Ideal candidate should have an overall 10 years of experience out of which minimum 2 years as a Restaurant Manager managing a branded international casual dining restaurant chain  Should have good command over English language  Ability to speak in Arabic is an advantage  Ability to analyze and understand market trends and environment  Should have good people management skills Job location   Can be in Riyadh  Jeddah  Khobar or Dammam Primary LocationSaudi ArabiaJobLandmark Hospitality OperationsOrganizationFoodmark KSASchedule label   RegularShiftStandardJob TypeFull timeJob LevelDay JobJob Posting   Sep 16  2020  7 46 06 PM\n\n\n        Show more\n\n        \n\n\n        Show less\n\n        \n\n\n',
       '\n\n\nJOB PURPOSE Ensure correct and effective financial administration according to Nandos policies   procedures on a daily basis  To assist in controlling expenditure and in achieving expected gross profit margins  Monitor performance against set daily targets  Turnover  Ticket Average  Customer Count   Ensure efficient stock control management for the restaurant on a daily basis and assist in developing the corrective action plan and facilitating actions necessary to improve internal and external audit results Communicate and ensure compliance to the Nandos operational standards and operating requirements  To ensure adherence to opening and closing procedures and assist with training of all new staff according to Nandos policies and procedures to proactively meet the needs of the business  To complete and check the attendance register and assist in ensuring that all staff are signed off on the relevant training material and procedures on an on going basis  To assist with communication and execution of all national  regional and local marketing campaigns and initiatives Respond to customer complaints in accordance with the Nandos policies and proceduresAssist in developing the corrective action plan and facilitating actions necessary to improve results of the mystery shopper reportKnowledge And Skills Required Ideal Candidate should have an overall 4 to 6 years of experience out of which 1 to 2 years as a Restaurant Supervisor at a branded international casual dining restaurant chain  Should have good command over English language  Ability to speak in Arabic is an advantage  Ability to analyze and understand market trends and environment  Should have good people management skills Job location   Can be in Riyadh  Jeddah  Khobar or Dammam Primary LocationSaudi ArabiaJobLandmark Hospitality OperationsOrganizationFoodmark KSASchedule label   RegularShiftStandardJob TypeFull timeJob LevelDay JobJob Posting   Sep 16  2020  7 43 39 PM\n      \n\n        Show more\n\n        \n\n\n        Show less\n\n        \n\n\n',
       '\n\n\n1 2 years of relevant experience within the fitness industry  Personal Training Certified  Self motivated and target driven  Excellent communication   interpersonal skills1 2 years of relevant experience within the fitness industry  Personal Training Certified  Self motivated and target driven  Excellent communication   interpersonal skillsPrimary LocationSaudi ArabiaJobLandmark Hospitality FitnessOrganizationFitness First KSASchedule label   RegularShiftStandardJob TypeFull timeJob LevelDay JobJob Posting   Sep 19  2019  6 18 54 PM\n      \n\n        Show more\n\n        \n\n\n        Show less\n\n        \n\n\n'],
      dtype=object)

In [64]:
def remove_unwanted_characters(s):
    s = re.sub('\*', ' ', str(s))
    s = re.sub('/', ' ', str(s))
    s = re.sub('_', ' ', str(s))
    s = re.sub('\?', ' ', str(s))
    s = re.sub('%', ' ', str(s))
    s = re.sub('@', ' ', str(s))
    s = re.sub('#', ' ', str(s))
    s = re.sub('!', ' ', str(s))
    s = re.sub(',', ' ',str(s))
    s = re.sub('\+', ' ', str(s))
    s = re.sub('&', ' ', str(s))
    #s = re.sub('\d', ' ', str(s)) delete digit NO
    return s

In [65]:
#Remove common text in job describtion

def rem_fluff(data):
    data = data.replace('please share resume', " ")
    data = data.replace('call me', " ")
    data = data.replace('if you are a', " ")
    data = data.replace('if you are an', " ")
    data = data.replace('job description', " ")
    data = data.replace('if you are', " ")
    data = data.replace('reply', " ")
    data = data.replace("please apply today applicants must be authorized to work in the u.s.please apply directly to by clicking 'click here to apply' with your word resume looking forward to receiving your resume and going over the position in more detail with you.- not a fit for this position click the link at the bottom of this email to search all of our open positions.looking forward to receiving your resume cybercoderscybercoders inc is proud to be an equal opportunity employerall qualified applicants will receive consideration for employment without regard to race color religion sex national origin disability protected veteran status or any other characteristic protected by law.your right to work - in compliance with federal law all persons hired will be required to verify identity and eligibility to work in the united states and to complete the required employment eligibility verification document form upon hire.copyright  - . cybercoders inc. all rights reserved.", ' ')
    return data

In [66]:
# function to get rid of repeated skills after a '-'
def split_skills(data):
        x = data
        nospace = x.replace(' ', '') # removing spaces
        if '-' in nospace:
            first_half = nospace.split('-')[0] #first half of string before '-'
            second_half = nospace.split('-')[1] # second half of string after '-'
            if first_half == second_half:
                x = list(x.split('-'))[0].strip() #getting only first half of string to return
                return x
            else:
                return x      
        else:
            return x

In [67]:
def drop_corrupt_rows(df):
    df['word_count'] = df['description'].map(lambda x: len(x.split()))
    
    mean_word_count = df['word_count'].mean()
    print('Mean word count per post:', round(mean_word_count))
    
    std_word_count = df['word_count'].std()
    print('std word count per post:', round(std_word_count))
    
    too_short = mean_word_count - 1.5*std_word_count
    too_short = 20
    
    # Drop posts with 20 word or less
    print(len(df), 'before dropping')
    mask = df['word_count'] > too_short
    df = df[mask]
    print(len(df), 'after dropping')

    df.drop(columns='word_count', inplace=True)
    
    return df.reset_index(drop=True)

In [68]:
import re

In [69]:
# Remove unwanted characters and numbers
df['description'] = df['description'].map(remove_unwanted_characters)
df['industries'] = df['industries'].map(remove_unwanted_characters)

In [70]:
# Correct multiple spaces (including \t and \n)
df['description'] = df['description'].map(lambda x: re.sub(r'[^a-zA-Z0-9]',' ', x))
df['industries'] = df['industries'].map(lambda x: re.sub(r'[^a-zA-Z0-9]',' ', x))

In [71]:
# Drop corrupted rows
df = drop_corrupt_rows(df)

Mean word count per post: 339
std word count per post: 271
42573 before dropping
40500 after dropping

In [72]:
# Remove common phrases
df['description'] = df['description'].map(rem_fluff)
df['industries'] = df['industries'].map(rem_fluff)

In [73]:
df['description'] = df['description'].str.lower()

In [74]:
#Number of unique entries were found for each columns.
df.apply(pd.Series.nunique)

position            17856
company              5244
level                   7
job_functions        2407
industries           3151
description         29099
day                    31
month                  12
quarter                 4
city                   74
Regions                15
industry_cat          130
TotalPositions        127
PositionsByMonth       12
dtype: int64

### Extracting Year Of Experience From Job Description

In [75]:
df[['description']]= df[['description']].dropna()


def years_of_ex(description):
    
    if description != np.nan:
        description = description.lower() 
        match = re.search('[^0-9]\+ years|[^0-9]\+ year|[0-9] [0-9]\+ years|[0-9] [0-9]\+ year|\+[0-9]|[0-9] to [0-9] year|[0-9] to [0-9] years|[0-9] to [0-9] yrs|[0-9] [0-9] yrs|[^0-9] +year|[0-9] +years|..\+ yrs|[0-9] [0-9] +years|entry|junior', description) 

        if match != None:
            return description[match.start(): match.end()]
    
    return np.nan
            

df['years_of_ex'] = df['description'].apply(years_of_ex)
print(df['years_of_ex'].isnull().sum())

12043

In [76]:
df.loc[24657,'description']

'the quality manager shall have a bachelor degree in the major required with an experience of 12 years in this field and shall have quality certificates and for saudi national  an experience of 6 years in the construction field and shall have quality certificates please apply hereclosing date  31 dec 2020show moreshow less'

In [77]:
df.years_of_ex.unique()

array(['e year', '7  years', '5  years', '5 years', '2 years', nan,
       '8   years', '2  years', 'm year', '5 7 years', '4 years',
       '1 2 years', '3 4 years', '5 6 years', '2 3 years', '0  years',
       'i year', '6 years', '0 years', '8  years', 'junior', '0 2 years',
       '4 6 years', 'a year', '3 years', '1 3 years', '8 years',
       '4  years', '9 years', 'd year', 'f year', 'o year', 'n year',
       '  year', '7 years', '3  years', '3 5 years', 'entry', '2 5 years',
       '5 8 years', 'l year', '2 4 years', '7 8 years', 'r year',
       '4 5 years', '4 to 6 year', '6  years', 's year', 'x year',
       '3 to 4 year', 't year', '0 3 years', '5 to 8 year', '1 years',
       '3 8 years', 'd   year', '6 to 9 year', '2 to 5 year', '6 8 years',
       'g year', '1 to 3 year', '1 5 years', '2 3  years', 'y  year',
       'p  year', 'h year', 'e   year', '6 9 years', '0   years',
       'y year', '0 to 1 year', '1  years', '2 to 4 year', '3 6 years',
       '5 to 6 year', '4 6 yrs', '4 8 years', '2   years', '5 to 7 year',
       '0 to 2 year', '0 1 years', '3   years', '3 5  years', 'p year',
       '3 to 5 year', 'k year', '2 to 6 year', '3 to 8 year',
       '1 to 2 year', '9  years', 'y   year', 'g   year', '2 to 3 year',
       'd    year', '8 9 years', '5      years', 'w year', 'q    year',
       '0 4 years', 't   year', 'e  year', '3 to 6 year', '2 8 years',
       '0 2  years', '1 4 years', 'n  year', '1 2  years', '7 9 years',
       '5   years', '0    years', '7   years', '0     years', 's   year',
       'r  year', '7 to 8 year', '0 1  years', 'r   year', '3 5   years',
       '4 5 yrs', 't  year', 'c year', '1 3  years', '4 7 years',
       '3 7 years', '2 6 years', 'l      year', '   year', '2 1  years',
       '3 5 yrs', '2 6  years', '4 to 7 year', '2 5  years', '3 to 5 yrs',
       '4 5   years', 's  year', '6   years', '4       years',
       '5 9 years', '3 5      years', '4 to 8 year', 'm    year',
       '4      years', '6 to 8 year', '4 4  years', '3 to 7 year',
       '2 5 yrs', '5 7 yrs', '1 6 years', 'm  year', '0      years',
       '0       years', 'l        year', 'l  year', '4 to 5 year',
       '6 7 years', '0 to 4 year', '0 5 years', '5       years',
       '6       years', 'd     year', '2 3 yrs', '6 7  years',
       '2 7 years', 'a  year', '3 to 9 year', '0 2 yrs', '5 8  years',
       'r    year', 'o  year', '5 7  years', 'i  year', '0 to 3 year',
       's     year', '4   years', '1 to 4 year', '2 4  years',
       'e    year', '8 2 years', '6 8  years', '5 8 yrs', '0 5  years',
       '4 3  years', 'u year', '3 4 yrs', 'x   year', '2 to 8 year',
       '1 2 yrs', '    year', 'n   year', '1 0 years', 'k  year',
       's    year', '6 8 yrs', 'd  year', '3 4  years', 'i   year',
       '4 to 6 yrs', 'g  year', '1 4 yrs', 'v year', 'a    year',
       '2 8  years', 'k   year'], dtype=object)

In [78]:
# Extract numbers
df['year_of_ex']=df['years_of_ex'].str.extract('(\d)')

In [79]:
#change data type to calculate the mean 
df['year_of_ex'] = df['year_of_ex'].astype(float)

In [80]:
#calculate the mean of expirence according to level grouping
years=df.groupby('level').agg(years_of_ex = ('year_of_ex', 'mean'))

In [81]:
years

                 years_of_ex
level
Associate           3.166414
Director            3.007446
Entry level         3.402283
Executive           2.920771
Internship          1.867925
MidSenior level     3.563933
Not Applicable      3.233962

In [82]:
#fill null values with mean
df['year_of_ex']=df['year_of_ex'].fillna(df.groupby('level')['year_of_ex'].transform('mean'))

In [83]:
#convert years_experience from float to int 
df['year_of_ex'] = df['year_of_ex'].astype(int)

In [84]:
df.year_of_ex.unique()

array([3, 7, 5, 2, 8, 4, 1, 0, 6, 9])

In [85]:
df.year_of_ex.value_counts()

3    20967
5     5709
0     4264
2     4150
8     1383
4     1369
1     1050
7      880
6      653
9       75
Name: year_of_ex, dtype: int64

In [86]:
df.isnull().sum()

position                0
company                 0
level                   0
job_functions           0
industries              0
description             0
day                     0
month                   0
quarter                 0
city                    0
Regions                 0
industry_cat            0
TotalPositions          0
PositionsByMonth        0
years_of_ex         12043
year_of_ex              0
dtype: int64

In [87]:
df.head(50)

,position,company,level,job_functions,industries,description,day,month,quarter,city,Regions,industry_cat,TotalPositions,PositionsByMonth,years_of_ex,year_of_ex
0,Employee Engagement Specialist,PepsiCo,MidSenior level,Human Resources,Consumer Goods Food Beverages,auto req id 199735brjob descriptionpepsico sa...,6,1,1,Riyadh,Riyadh,Consumer Goods,219,2339,e year,3
1,Account Manager GPS Riyadh,EY,Not Applicable,Sales Business Development,Accounting Financial Services,in a business where are our people are our pro...,6,1,1,Riyadh,Riyadh,Accounting,101,2339,7 years,7
2,Business Analyst,تطوير تقنيات التعليم Tatweer Educational Tech...,MidSenior level,Business Development Sales,Information Technology and Services,the ideal candidate will design organize and...,6,1,1,Riyadh,Riyadh,Information Technology and Services,16,2339,5 years,5
3,Talent Acquisition Advisor,WSP in the Middle East,Associate,Finance,Construction,think bigger scale think higher profile thin...,6,1,1,Riyadh,Riyadh,Construction,43,2339,5 years,5
4,Organisational Design Specialist,Aventus Global Talent,MidSenior level,Human Resources Design,Financial Services Banking,organisational design specialist eastern regi...,6,1,1,Remote,Remote,Financial Services,28,2339,5 years,5
5,Quality Specialist,Takamol Holding,Associate,Analyst Consulting Quality Assurance,Management Consulting,main accountabilities familiarity with kpis...,6,1,1,Riyadh,Riyadh,Management Consulting,23,2339,2 years,2
6,Events Operations Manager,Aggreko,MidSenior level,Management Manufacturing,Marketing and Advertising Mechanical or Indust...,about aggreko plcaround the world people bus...,6,1,1,Jeddah,Makkah,Marketing and Advertising,24,2339,e year,3
7,Business Analyst,ALKHALEEJ COMPUTERS ELECTRONIC SYSTEMS,Associate,Business Development Sales,Information Technology and Services Banking,the senior business analyst will be a key cont...,6,1,1,Riyadh,Riyadh,Information Technology and Services,6,2339,NaN,3
8,Program ManagerEasternSouthernNorthernWestern ...,Elm Company,Associate,Project Management Information Technology,Information Technology and Services,role purposeresponsible for planning implemen...,6,1,1,Riyadh,Riyadh,Information Technology and Services,22,2339,8 years,8
9,Project manager,AECOM,MidSenior level,Project Management,Architecture Planning Civil Engineering Const...,saudi arabia ar riyad riyadh job summary ma...,6,1,1,Riyadh,Riyadh,Architecture Planning,364,2339,2 years,2
10,Human Resources Coordinator,Courtyard by Marriott,Entry level,Human Resources,Restaurants Staffing and Recruiting Hospitality,with more than 330 managed locations in more t...,6,1,1,Riyadh,Riyadh,Restaurants,55,2339,NaN,3
11,Configurations Quality Specialist,HungerStation هنقرستيشن,MidSenior level,Business Development Analyst Quality Assurance,Internet,to implement quality control on configuration ...,6,1,1,Riyadh,Riyadh,Internet,196,2339,2 years,2
12,Head Of Human Resources,Wisayah Investment Company,MidSenior level,Management Training Human Resources,Investment Management Financial Services Banking,the position head of human resourceslocation ...,6,1,1,Khobar,Eastern,Investment,7,2339,m year,3
13,Project Manager,SAUDI TAAB CONTRACTING CO,MidSenior level,Engineering,Construction,candidate should have minimum bachelor degree ...,6,1,1,Riyadh,Riyadh,Construction,1,2339,NaN,3
14,Purchasing Officer,AlJammaz Group,Associate,Purchasing Supply Chain,Investment Management Information Technology a...,complete work cycle of purchasing 1 placing o...,6,1,1,Riyadh,Riyadh,Investment,4,2339,NaN,3
15,Digital Product Manager,speedi,MidSenior level,Product Management Business Development Analyst,Online Media Supermarkets Retail,product manager is passionate about building p...,6,1,1,Riyadh,Riyadh,Online Media,17,2339,5 7 years,5
16,Logistics Coordinator,National Oilwell Varco,Entry level,Management Manufacturing,Mechanical or Industrial Engineering Staffing ...,works in transportation or warehousing of good...,6,1,1,Dammam,Eastern,Mechanical,124,2339,NaN,3
17,Cinema Manager,TGC Consulting Middle East,MidSenior level,Other,Information Technology and Services Staffing a...,job description rolethis opportunity is with...,6,1,1,Dammam,Eastern,Information Technology and Services,3,2339,5 years,5
18,Business Analyst MS Excel Expert,Jobskey Search and Selection,MidSenior level,Business Development Sales,Consumer Electronics,we are looking for business analyst key accoun...,6,1,1,Riyadh,Riyadh,Consumer Electronics,253,2339,NaN,3
19,Graphic Web Designer,ekuepcom,Associate,Design Marketing ArtCreative,Retail Restaurants,we re looking to hire a full time web designer...,6,1,1,Remote,Remote,Retail,15,2339,NaN,3
20,Associate DirectorDigital Delivery,The Red Sea Development Company,Associate,Consulting Engineering,Civil Engineering,reporting to the digital delivery director the...,6,1,1,Riyadh,Riyadh,Civil Engineering,64,2339,5 years,5
21,HR Business Partner Travel Tourism Saudi Na...,Michael Page,MidSenior level,Human Resources,Leisure Travel Tourism,hr business partner travel tourism saudi...,6,1,1,Jeddah,Makkah,Leisure Travel Tourism,92,2339,4 years,4
22,Receptionst AF Retail Riyadh,AlFuttaim,Not Applicable,Sales Business Development,Retail,job requisition id 40968no two days are the s...,6,1,1,Riyadh,Riyadh,Retail,61,2339,1 2 years,1
23,Product Specialist Looking for candidates resi...,Eon Dental,Associate,Sales Business Development Product Management,Medical Devices,the product specialist looking for candidates...,6,1,1,Riyadh,Riyadh,Medical,1,2339,3 4 years,3
24,Sales Coordinator,Abdullah Hashim Industrial Gases and equipment,Entry level,Sales Customer Service General Business,Oil Energy Construction Business Supplies and...,the ideal candidate will be the point of conta...,6,1,1,Remote,Remote,Oil Energy,2,2339,2 years,2
25,Health Safety and Environmental Officer Saudi...,Atkins,Entry level,Other,Construction Information Technology and Servic...,we require a health safety and environmental ...,6,1,1,Riyadh,Riyadh,Construction,98,2339,5 6 years,5
26,وظائف نسائية للعمل في توثيق وضبط جودة أنظمة ال...,Applied Computer Services Company HASIB,Entry level,Information Technology Quality Assurance,Information Technology and Services Computer S...,functional testinggui t...,6,1,1,Riyadh,Riyadh,Information Technology and Services,6,2339,NaN,3
27,HR GeneralistSaudi National,Sacoor Brothers,Entry level,Human Resources,Apparel Fashion,serve as an escalation point for personnel and...,6,1,1,Riyadh,Riyadh,Apparel Fashion,3,2339,NaN,3
28,Sales Specialist,ALJEEL MEDICAL AND TRADING CO LTD,MidSenior level,Sales Customer Service Distribution,Medical Devices Hospital Health Care Business...,sales specialist responsibilities generating l...,6,1,1,Jeddah,Makkah,Medical,16,2339,NaN,3
29,Sales Support Executive Saudi National Female,Alhamrani Universal,Associate,Sales Business Development,Information Technology and Services,position summary sales support executive provi...,6,1,1,Riyadh,Riyadh,Information Technology and Services,5,2339,2 3 years,2
30,HR Director,maptalent,Director,Human Resources,Government Administration Real Estate,qualifications degree holder with cipd gphr ...,6,1,1,Riyadh,Riyadh,Government Administration,47,2339,0 years,0
31,Assistant Director of Engineering,Four Seasons Hotels and Resorts,Not Applicable,Engineering,Leisure Travel Tourism Hospitality,at four seasons we believe in recognising a f...,6,1,1,Riyadh,Riyadh,Leisure Travel Tourism,90,2339,NaN,3
32,Integrated Marketing Programs Manager Job,SAP,Not Applicable,Marketing,Computer Software Information Technology and S...,requisition id 241132work area marketingexpe...,6,1,1,Riyadh,Riyadh,Computer Software,42,2339,7 years,7
33,Guest Services Associate Saudi National Only,Le Méridien,Entry level,Management Manufacturing,Food Beverages Retail Hospitality,at le mridien we believe in helping guests un...,6,1,1,Riyadh,Riyadh,Food Beverages,74,2339,NaN,3
34,URGENT JOB OPENING FOR NAJRAN SAUDI ARABIA,Delhi Manpower Express,Not Applicable,Other,Staffing and Recruiting Medical Practice Hospi...,job description only muslim christian can ap...,6,1,1,Madinah,Medina,Staffing and Recruiting,2,2339,i year,3
35,Financial Reporting Senior Specialist,Bahri البحري,MidSenior level,AccountingAuditing,Maritime,job summary assist in the preparation of full ...,6,1,1,Riyadh,Riyadh,Maritime,17,2339,5 7 years,5
36,Accountant,Sisco Jobs,Associate,AccountingAuditing Finance,Construction Mechanical or Industrial Engineer...,job descriptionaccountant3 5 yearssaudi arab...,6,1,1,Jeddah,Makkah,Construction,26,2339,5 years,5
37,Application Support Section Head,GAZT General Authority of Zakat Tax,MidSenior level,Information Technology,Government Administration,job purpose the application support section he...,6,1,1,Riyadh,Riyadh,Government Administration,6,2339,6 years,6
38,Manager,Nielsen,Not Applicable,Other,Market Research Management Consulting,manager 50942client services and sales sau...,6,1,1,Riyadh,Riyadh,Market Research,5,2339,5 years,5
39,Mechanical Engineer Projects Experience,Aramco,MidSenior level,Engineering Information Technology,Information Technology and Services Oil Energ...,position descriptionwe are seeking an experien...,6,1,1,Dhahran,Eastern,Information Technology and Services,190,2339,0 years,0
40,Mechanical Supervisor,The RitzCarlton Hotel Company LLC,MidSenior level,Engineering Information Technology,Restaurants Leisure Travel Tourism Hospitality,at more than 80 award winning properties world...,6,1,1,Riyadh,Riyadh,Restaurants,73,2339,NaN,3
41,Business Resilience Manager,Mackenzie Jones Middle East,MidSenior level,Information Technology,Management Consulting,job purpose project delivery assist enterpri...,6,1,1,Riyadh,Riyadh,Management Consulting,29,2339,8 years,8
42,Marketing Campaign Manager,IBM,MidSenior level,Marketing,Information Technology and Services Computer S...,introductionat ibm work is more than a job ...,6,1,1,Riyadh,Riyadh,Information Technology and Services,156,2339,NaN,3
43,KSA National Sales Manager Pharmacies,Henkel,Not Applicable,Sales Business Development,Consumer Goods,henkel is for those who step up do you at hen...,6,1,1,Jeddah,Makkah,Consumer Goods,38,2339,NaN,3
44,Business Analyst plus leading an Application S...,JPMorgan Chase Co,Associate,Information Technology,Information Technology and Services Financial ...,the cib technology team in saudi arabia has re...,6,1,1,Riyadh,Riyadh,Information Technology and Services,21,2339,NaN,3
45,Property Manager,Savills,MidSenior level,Management Customer Service,Real Estate,we are urgently looking for property managerst...,6,1,1,Riyadh,Riyadh,Real Estate,1,2339,junior,3
46,Employee Engagement Specialist,PepsiCo,MidSenior level,Human Resources,Consumer Goods Food Beverages,auto req id 199735brjob descriptionpepsico sa...,6,1,1,Riyadh,Riyadh,Consumer Goods,219,2339,e year,3
47,Manufacturing Operator,DuPont,Entry level,Management Manufacturing,Biotechnology Chemicals Farming,descriptionthis position consist of working as...,6,1,1,Dammam,Eastern,Biotechnology,7,2339,0 2 years,0
48,Data Scientist and Analytics,Devoteam,Entry level,Engineering Information Technology,Information Technology and Services Computer S...,company descriptionwe are entrepreneurs in dis...,6,1,1,Riyadh,Riyadh,Information Technology and Services,215,2339,4 years,4
49,Human Resources Director,The Marketing Department TMD,MidSenior level,Human Resources Administrative Management,Marketing and Advertising,we are looking for an experienced human resour...,6,1,1,Riyadh,Riyadh,Marketing and Advertising,6,2339,NaN,3

In [88]:
#remove stopword from describtion
spec_char=["in","or","and","from","is","a","that","with","at","of"]
for chars in spec_char:
    
    df['description'] = df['description'].str.replace(chars, '')

In [89]:
#extract degees word from description
df['degree']=df['description'].str.extract('(\w+ degree \w+ |\w+  degrees \w+ )')

In [90]:
#replace degree 
df['degree'] = df['degree'].str.replace('degree','')

In [91]:
df['degree']=df['degree'].str.replace('bachelors|bachelor|bachelor|university|bachelors|qualificationsbachelors|bs|requirementsbachelors|qualificationsbachelor|experiencebachelor|experiencebachelors|timebachelors|ba', 'bachelor')

In [92]:
df['degree'].isnull().sum()

37706

In [93]:
df.degree.value_counts()

bachelor  cludg                               111
mster  fered                                   85
hve  qulifiction                               49
technicl  preferred                            45
msters  preferred                              45
ssocite  diplom                                43
bachelor  tht                                  42
bchels  holder                                 42
to  level                                      42
bchels  required                               39
relted  required                               38
s  required                                    36
requirements  qulifiction                      35
bchels  requirement                            31
msters  will                                   26
idelly  educted                                26
s  preferred                                   24
be  qulified                                   24
bchel  level                                   21
msters  preferble                              20
hs  ged                                        20
bchels  preferred                              20
s  mechnicl                                    20
bchel  holder                                  19
bachelor  idelly                               18
bchels  preferbly                              17
bchels  level                                  16
bchels  plus                                   14
s  preferbly                                   13
needbchels  holder                             13
msters  lnguge                                 12
ssocites  diplom                               12
bachelor  required                             12
experiencebchels  preferredmimum               12
requirementsbchels  strong                     12
msters  would                                  12
college  required                              11
s  2                                           11
the  requirement                               10
qulifictionsbchels  required                   10
technicl  required                             10
ny  relted                                     10
s  busess                                      10
equivlent  4                                   10
bchels  educted                                 9
eduction  requirement                           9
s  5                                            9
bchel  college                                  9
be  educted                                     9
bachelor  t                                     9
structionsqulifictionsengeerg  bchel            9
hs  ctive                                       9
relevnt  qulifiction                            8
postgrdute  preferred                           8
required  level                                 8
s  mster                                        8
s  vlid                                         8
360  surveys                                    8
comprble  ntive                                 8
msters  lngugeenglh                             8
dvnce  required                                 7
bachelor  mb                                    7
bachelor  preferbly                             7
bchels  mimum                                   7
bchels  b                                       7
experience  nursg                               7
technicl  preferred4                            7
pressionl  t                                    7
s  mimum                                        7
dvnce  will                                     7
bachelor  either                                7
undergrdute  plus                               6
qulifictions  qulified                          6
bchel  required                                 6
phd  vlid                                       6
bchels  mb                                      6
s  t                                            6
msters  12                                      6
higher  delivered                               6
bachelor  celt                                  6
requirements  qulified                          6
comprble  4                                     6
be  qulifiedrbic                                6
bchel  electricl                                6
bchels  qulifiction                             6
college  mimum                                  6
qulified  holder                                6
relted  where                                   6
bachelor  levelexperience                       5
qulifiction  bchel                              5
seven  progrms                                  5
bchels  engeerg                                 5
hve  eduction                                   5
s  fluent                                       5
bchels  diplom                                  5
s  n                                            5
s  civil                                        5
yer  course                                     5
bachelor  10                                    5
bchels  show                                    5
college  preferred                              5
requirement  holder                             5
msters  preferredbusess                         5
engeerg  holder                                 5
bchels  requiredyou                             5
conditions  qulifiction                         5
undergrdute  relted                             5
bchel  ccountg                                  5
qulifictionsbchel  busess                       5
electricl  qulified                             5
experiencebchels  mngement                      5
mster  will                                     5
bchel  diplom                                   5
s  fluency                                      5
grdute  preferred                               5
msters  desirble                                4
dvnced  preferred                               4
relevnt  pref                                   4
comprble  5                                     4
preferredqulifictions  holder                   4
qulifictions  diplom                            4
bachelor  excellent                             4
bchel  grdute                                   4
environmentbchels  preferred                    4
fter  skillss                                   4
bchels  10                                      4
s  1                                            4
the  to                                         4
s  4                                            4
met  qulified                                   4
grdute  will                                    4
comprble  10                                    4
college  not                                    4
eductionhs  gedgrdute                           4
qulifictions  qulifiction                       4
functiong  typg                                 4
school  fluency                                 4
yerssocites  plus                               4
s  8                                            4
requirements  educted                           4
engeerg  preferred                              4
bchels  busess                                  4
s  college                                      4
college  preferbly                              4
ssocites  preferred                             4
equivlent  required                             4
school  knowledge                               4
their  progrmcommercil                          4
equivlent  t                                    4
eductionmimum  required                         4
engeerg  fculty                                 4
msters  preferbly                               4
experience  qulified                            4
msters  not                                     4
grdute  subachelortitution                      4
msters  excellent                               4
bchels  s                                       4
engeerg  electricl                              4
lw  miml                                        4
requirementsbchels  required                    4
s  holder                                       3
frstructure  qulified                           3
undergrdute  5                                  3
bchels  requirementknowledge                    3
360  cmpigns                                    3
prtnersbchels  required                         3
grdute  diplomcertificte                        3
competenciesessentil  qulified                  3
s  preferredhve                                 3
t  level                                        3
phrmcts  mimum                                  3
bchels  progrm                                  3
eduction  preferred                             3
mster  strong                                   3
grdute  would                                   3
eductionl  wht                                  3
relted  progrm                                  3
terntionl  pprenticeship                        3
relted  certifictes                             3
grdute  plus                                    3
technicl  preferredmximum                       3
msters  mb                                      3
school  preferred                               3
s  3                                            3
bchels  on                                      3
qulifictionsbchels  level                       3
s  required3                                    3
school  mimum                                   3
ssocite  experience                             3
bchels  must                                    3
s  mb                                           3
requirements  holder                            3
s  mrketg                                       3
relted  t                                       3
b  preferred                                    3
bchels  conex                                   3
ptfolioscompetenciesbchels  required            3
bchel  busess                                   3
bchels  phrmcy                                  3
undergrdute  pursug                             3
bchels  7                                       3
school  typicl                                  3
rbibchels  chemicl                              3
msters  strong                                  3
s  legl                                         3
md  required                                    3
s  dustry                                       3
engeer  willgness                               3
bilities  level                                 3
engeerg  experience                             3
mster  holder                                   3
relevnt  dditionl                               3
busess  preferred                               3
relted  fluency                                 3
bchler  humn                                    3
bchels  chemtry                                 3
environmentsmimum  required                     3
relevnt  nice                                   3
bchel  mimum                                    3
bchels  3                                       3
msters  prefrredexperience                      3
requirements  required                          3
eduction  preferbly                             3
undergrdute  required                           3
your  subject                                   3
msters  preferredfluency                        3
requirementsbchels  electricl                   3
mb  would                                       3
dvnced  my                                      3
360  cmers                                      3
s  level                                        3
engeerg  mimum                                  3
bchel  preferred                                3
bchels  msters                                  3
relevnt  good                                   3
bachelor  fluent                                3
bachelor  licensecurrent                        2
busess  qulified                                2
msters  preferredth                             2
higher  cidtes                                  2
b  holder                                       2
bchels  requiredother                           2
s  excellent                                    2
cs  strong                                      2
projects  qulified                              2
s  experience                                   2
eductionl  psspt                                2
ms  required                                    2
college  experiencefive                         2
dvnced  e                                       2
bchels  relevntqsr                              2
dvnced  desirble                                2
nursg  t                                        2
bchel  holderplnng                              2
engeerg  excellent                              2
fmtionrequirementsbchels  required              2
qulifictionsbachelor  mimum                     2
eduction  diplom                                2
rolepreferble  holder                           2
s  holders                                      2
yersbchel  t                                    2
eductionssocite  diplom                         2
similr  7                                       2
s  rchitectengeerg                              2
msters  plus                                    2
bchels  relevnt                                 2
bchels  civil                                   2
s  eight                                        2
design  strongly                                2
environmentqulifictions  qulified               2
engeerg  strong                                 2
bchels  requiredequlity                         2
relted  qulifiction                             2
higher  strong                                  2
pressionlcollege  preferredpg                   2
hve  qulifictionpressionl                       2
bchels  pricient                                2
relevnt  sudi                                   2
mb  preferred                                   2
qulifictionsbchels  regtered                    2
rchitecture  5                                  2
360  digitl                                     2
bchel  fluent                                   2
busess  preferredjob                            2
diplom  dentl                                   2
bchels  mechnicl                                2
bchel  bachelor                                 2
equivlent  3                                    2
to  strd                                        2
s  on                                           2
higher  3                                       2
ssocites  my                                    2
bchels  busessmust                              2
s  fmtion                                       2
busessmsters  prefrredexperience                2
strdsqulifictionsbchels  10                     2
technicl  preferredmimum                        2
driversbchels  preferbly                        2
bchels  hospitlity                              2
college  fluency                                2
post  qulifiction                               2
bchel  preferbly                                2
technicl  knowledge                             2
essentilbchels  required                        2
equivlent  product                              2
stwre  holder                                   2
bachelor  mj                                    2
bachelor  6                                     2
trggrdute  essentildvncedqulifiction            2
s  0                                            2
bchel  fmtion                                   2
bchels  cludg                                   2
recognized  terntionlly                         2
hnd  level                                      2
msters  my                                      2
bchels  vilble                                  2
s  requiredmimum                                2
s  pressionl                                    2
subachelorpecilty  fellowship                   2
equivlent  experience                           2
b  preferble                                    2
technicl  preferred3                            2
b  on                                           2
msters  2                                       2
school  high                                    2
engeerg  no                                     2
skillsbchels  5                                 2
comprble  7                                     2
bachelor  preferble                             2
bachelor  if                                    2
ny  course                                      2
s  qulified                                     2
msters  4                                       2
cpcityengeerg  excellent                        2
bchel  qulifiction                              2
s  should                                       2
mster  rbic                                     2
s  show                                         2
bachelor  requiredterntionlly                   2
sects  level                                    2
tem  educted                                    2
bchel  vend                                     2
bchel  engeerg                                  2
preferredbchel  grduted                         2
ssocites  plus                                  2
doctte  progrm                                  2
ttmentbchels  preferred                         2
other  relted                                   2
diplom  requiredexp                             2
technicl  preferred2                            2
honours  level                                  2
engeerg  qulifictions                           2
lw  by                                          2
relted  5                                       2
msters  preferredexcellent                      2
bchels  electricl                               2
engeerg  10                                     2
bchels  mjg                                     2
bachelor  5                                     2
qulifictionsbachelor  equivlent                 2
experience  bchelmj                             2
resume  photocopy                               2
bchels  should                                  2
bchels  lnguge                                  2
bachelor  preferred                             2
engeerg  qulifiction                            2
bachelor  suitble                               2
bchel  qulified                                 2
engeerg  requireddevelopment                    2
bchels  grdutes                                 2
bchel  medice                                   2
medicl  phrmceuticl                             2
wkg  typg                                       2
mster  swps                                     2
technicl  progrmpressionl                       2
msters  cidtes                                  2
12th  ll                                        2
bchel  b                                        2
msters  preferred10                             2
stttics  preferred                              2
qulifiction  requiredbout                       2
qulifictions  holder                            2
s  electricl                                    2
bchels  4                                       2
s  diplom                                       2
higher  would                                   2
to  hnd                                         2
bchel  phrm                                     2
preferbly  educted                              2
msters  grdutes                                 2
s  skillsledershipcommuniction                  2
comprble  6                                     2
bchels  telecommuniction                        2
qulifictionsbchel  numercy                      2
mster  preferred3                               2
bchel  fluency                                  2
s  must                                         2
bchel  competences                              2
ms  holder                                      2
bchels  hospitl                                 1

### Extracting Degree From Job Description

In [94]:
def degree(description):
    
    if description != np.nan:
        description = description.lower() 
        #match = re.search('\+ diploma degree|\+ master|\+phd|\+ bacholer|\+ masters|\+ bacholers|\+msc|\+ms', description) 
        match = re.search(r'bachelor|master|masters| ms | bs | phd | msc |university|technicl degree|mster|bchel|bchels|msters|diplom| hve |needbchels|experiencebchels|requirementsbchels|college|qulifictionsbchels|electricl |undergrdute|grdute|mechnicl', description)      

        #match = re.search('\w+ degree', description) 



        if match != None:
            return description[match.start(): match.end()]

    return np.nan
            

df['degree'] = df['description'].apply(degree)
print(df['degree'].isnull().sum())

8128

In [95]:
df['degree'] = df['degree'].str.replace(' ','')

In [96]:
df.degree.value_counts()

hve                   14016
bchel                  6896
bs                     2993
mster                  1386
diplom                 1223
grdute                 1039
ms                     1018
electricl               895
university              867
mechnicl                861
college                 338
qulifictionsbchels      269
requirementsbchels      164
undergrdute             121
experiencebchels         88
msc                      86
technicldegree           45
phd                      45
needbchels               22
Name: degree, dtype: int64

In [97]:

df['degree'] = df['degree'].str.replace('undergrdute','student')

In [98]:
#bachelor

df['degree'] = df['degree'].str.replace('needbchels','bachelor')
df['degree'] = df['degree'].str.replace('experiencebchels','bachelor')
df['degree'] = df['degree'].str.replace('requirementsbchels','bachelor')
df['degree'] = df['degree'].str.replace('qulifictionsbchels','bachelor')

In [99]:
#bachelor

bachelor1=["bchel","bs","grdute","college","university"]

for chars12 in bachelor1:
    
    df['degree'] = df['degree'].str.replace(chars12,'bachelor')

In [100]:

print(df['degree'].isnull().sum())

8128

In [101]:
#master

master1=["master","msc","masters","ms","mster","msters","masterter"," master"]

for chars1 in master1:
    
    df['degree'] = df['degree'].str.replace(chars1,'master')

In [102]:
#diploma

diploma1=["technicldegree","electricl","mechnicl"]

for chars11 in diploma1:
    
    df['degree'] = df['degree'].str.replace(chars11,'diplom')

In [103]:
#phd
df['degree'] = df['degree'].str.replace('phd','Doctorate')

In [104]:

#hve

df['degree'] = df['degree'].str.replace('hve','Higher Vocational Education')

In [105]:
#change diplom to diploma
df['degree'] = df['degree'].str.replace('diplom','diploma')

In [106]:
df.degree.value_counts()

Higher Vocational Education    14016
bachelor                       12676
diploma                         3024
master                          2490
student                          121
Doctorate                         45
Name: degree, dtype: int64

In [123]:
df['degree_int']=df['degree'].str.extract('(Higher Vocational Education|bachelor|diploma|master|student|Doctorate)')

In [124]:
# add new column extracting values from degree and replace it with numnbers to calculate the mean and fill null values with it with 
df['degree_int'] = df['degree_int'].str.replace('Higher Vocational Education','1') 
df['degree_int'] = df['degree_int'].str.replace('bachelor','2') 
df['degree_int'] = df['degree_int'].str.replace('diploma','3') 
df['degree_int'] = df['degree_int'].str.replace('master','4') 
df['degree_int'] = df['degree_int'].str.replace('student','5') 
df['degree_int'] = df['degree_int'].str.replace('Doctorate','6')

In [125]:
df.degree_int.value_counts()

1    14016
2    12676
3     3024
4     2490
5      121
6       45
Name: degree_int, dtype: int64

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40500 entries, 0 to 40499
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   position          40500 non-null  object
 1   company           40500 non-null  object
 2   level             40500 non-null  object
 3   job_functions     40500 non-null  object
 4   industries        40500 non-null  object
 5   description       40500 non-null  object
 6   day               40500 non-null  int64
 7   month             40500 non-null  int64
 8   quarter           40500 non-null  int64
 9   city              40500 non-null  object
 10  Regions           40500 non-null  object
 11  industry_cat      40500 non-null  object
 12  TotalPositions    40500 non-null  int64
 13  PositionsByMonth  40500 non-null  int64
 14  years_of_ex       28457 non-null  object
 15  year_of_ex        40500 non-null  int64
 16  degree            32372 non-null  object
 17  degree_int        32372 non-null  object
 18  degrees           40500 non-null  object
dtypes: int64(6), object(13)
memory usage: 5.9+ MB

In [127]:
df['degree_int']=df['degree_int'].replace(r'', np.NaN)

In [128]:
#change data type to float to correctly calculate the mean
df['degree_int'] = df['degree_int'].astype(float)

In [129]:
#convert degree to integer values

df['degree_int']=df['degree_int'].fillna(df.groupby('level')['degree_int'].transform('mean'))

In [130]:
#convert float to int 
df['degree_int'] = df['degree_int'].astype(int)

In [131]:
#convert float to int 
df['degree_int'] = df['degree_int'].astype(str)

In [132]:
#rereplace the numbers to string
df['degree_int'] = df['degree_int'].replace('1','Higher Vocational Education') 
df['degree_int'] = df['degree_int'].replace('2','bachelor') 
df['degree_int'] = df['degree_int'].replace('3','diploma') 
df['degree_int'] = df['degree_int'].replace('4','master') 
df['degree_int'] = df['degree_int'].replace('5','student') 
df['degree_int'] = df['degree_int'].replace('6','Doctorate')

In [133]:
df.isnull().sum()

position                0
company                 0
level                   0
job_functions           0
industries              0
description             0
day                     0
month                   0
quarter                 0
city                    0
Regions                 0
industry_cat            0
TotalPositions          0
PositionsByMonth        0
years_of_ex         12043
year_of_ex              0
degree               8128
degree_int              0
degrees                 0
dtype: int64

In [134]:
#fill new column with values of degree_int column
df['degrees'] = df['degree_int']

In [135]:
df.degrees.value_counts()

Higher Vocational Education    22144
bachelor                       12676
diploma                         3024
master                          2490
student                          121
Doctorate                         45
Name: degrees, dtype: int64

In [136]:
df.sample(50)

,position,company,level,job_functions,industries,description,day,month,quarter,city,Regions,industry_cat,TotalPositions,PositionsByMonth,years_of_ex,year_of_ex,degree,degree_int,degrees
7108,Legal Advisor,Dr Mohammed AlMuhanna Partners,MidSenior level,Legal Consulting,Legal Services,requirements grdution ledg university b m...,21,4,2,Riyadh,Riyadh,Legal Service,2,2209,5 years,5,bachelor,bachelor,bachelor
11658,Learning Development Manager Jeddah,Saudi German Hospitals,MidSenior level,Health Care Provider Administrative Human Reso...,Hospital Health Care Health Wellness and Fitn...,job brief we re seekg lerng development mng...,16,6,2,Jeddah,Makkah,Hospital Health Care,19,2724,NaN,3,bachelor,bachelor,bachelor
35133,Accountant,Confidential,Entry level,AccountingAuditing Finance Engineering,Construction Machinery Accounting,job summry implement the ccountg system ensur...,10,12,4,Riyadh,Riyadh,Construction,724,7809,3 years,3,bachelor,bachelor,bachelor
31280,Store Associate,Common Ksa,Entry level,Sales Business Development,Retail,position ste ssociteoverviewth position resp...,25,11,4,Dammam,Eastern,Retail,8,6071,NaN,3,bachelor,bachelor,bachelor
13865,Human Resources Specialist,iHomeآي هوم,Entry level,Human Resources,Furniture Consumer Goods Retail,key responsibilities personnel speciltopertion...,12,7,3,Makkah,Makkah,Furniture,14,2571,3 to 5 year,3,bachelor,bachelor,bachelor
25392,Infrastructure Planning Analyst0006 5000817HO,stc,Entry level,Information Technology,Information Technology and Services Telecommun...,jobs t th level re responsible f supptg mtg ...,22,10,4,Riyadh,Riyadh,Information Technology and Services,368,4860,NaN,3,NaN,Higher Vocational Education,Higher Vocational Education
14457,Sales Manager MOH,BD,Entry level,Sales Business Development,Medical Devices,sles mnger mohjob description summryto mnge th...,20,7,3,Remote,Remote,Medical,13,2571,3 5 years,3,bachelor,bachelor,bachelor
3898,Sales Account Manager,Converged Generation Communication Co,MidSenior level,Sales Business Development,Information Technology and Services Telecommun...,the sles ccount mnger will be reptg to the sec...,7,3,1,Riyadh,Riyadh,Information Technology and Services,3,2160,2 years,2,bachelor,bachelor,bachelor
38953,Director Corporate Communications,Confidential,Executive,Marketing Public Relations WritingEditing,Oil Energy,develop mnge implement communiction plns f c...,24,12,4,Alsharqiyah,Eastern,Oil Energy,724,7809,d year,2,bachelor,bachelor,bachelor
9728,HSE Manager,Air Products,Not Applicable,Management Manufacturing,Chemicals,position summryjob description qulifictionsbs...,24,5,2,Remote,Remote,Chemicals,290,2389,5 years,5,master,master,master
9732,Manager Digital Marketing,Bupa Arabia,MidSenior level,Marketing Sales,Information Technology and Services Insurance ...,job descriptionto focus on developg overseeg ...,24,5,2,Remote,Remote,Information Technology and Services,491,2389,i year,3,NaN,Higher Vocational Education,Higher Vocational Education
21405,Construction Manager,Hill International Inc,Associate,Management Manufacturing,Civil Engineering Construction Management Cons...,hill terntionl n terntionl construction consu...,24,9,3,Riyadh,Riyadh,Civil Engineering,52,4031,5 years,5,bachelor,bachelor,bachelor
27549,Project Manager,SGS Saudi Ground Services,Not Applicable,Project Management Information Technology,AirlinesAviation,the role holder responsible f ensurg effectiv...,4,11,4,Jeddah,Makkah,AirlinesAviation,31,6071,s year,3,bachelor,bachelor,bachelor
20203,Chef De Cuisine Main Kitchen,Four Seasons Hotels and Resorts,Not Applicable,Other,Leisure Travel Tourism Hospitality,bsic purposepln gnize control direct the wk...,15,9,3,Riyadh,Riyadh,Leisure Travel Tourism,90,4031,e year,3,bachelor,bachelor,bachelor
8294,Commercial Operations Director Saudi,GE Healthcare,Director,Sales,ElectricalElectronic Manufacturing Hospital H...,role summry responsible f ledg n opertions tem...,5,5,2,Remote,Remote,ElectricalElectronic,43,2389,8 years,8,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
1401,RIYADH CONSTRUCTION LAWYER 5 PQE,Garfield Robbins International,Associate,Legal,Oil Energy Law Practice Legal Services,the role will therefe til wkg closely collegu...,28,1,1,Riyadh,Riyadh,Oil Energy,3,2339,NaN,3,NaN,Higher Vocational Education,Higher Vocational Education
37334,2nd Level Operations,Ericsson,Not Applicable,Management Manufacturing,Telecommunications,our phenomenl opptunity we re now lookg f sec...,17,12,4,Riyadh,Riyadh,Telecommunication,112,7809,3 5 years,3,bachelor,bachelor,bachelor
20869,HR Director ME North KSA Job,SAP,Not Applicable,Human Resources,Computer Software Information Technology and S...,requition id 256672wk re humn resourcesexpec...,20,9,3,Riyadh,Riyadh,Computer Software,42,4031,0 years,0,bachelor,bachelor,bachelor
14646,QC Manager Precast,KATERRA,MidSenior level,Quality Assurance,Construction,kterr redefg the multi trillion dollr constru...,22,7,3,Remote,Remote,Construction,488,2571,5 years,5,bachelor,bachelor,bachelor
15270,Government Programs Portfolio Director0002 50...,stc,Director,Management,Information Technology and Services Telecommun...,the role holder responsible f ledg the govern...,29,7,3,Riyadh,Riyadh,Information Technology and Services,368,2571,NaN,3,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
32799,Amazon Warehouse Worker Immediate Hire Fulltime,AllRetailJobscom,Entry level,Management Manufacturing,Automotive Staffing and Recruiting Retail,compny mzon wkfce stffgshiftsjob description ...,30,11,4,Madinah,Medina,Automotive,430,6071,8 years,8,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
2867,ISMS ISO 27001 Implementer,Huxley,Associate,Information Technology,Information Technology and Services Staffing a...,strt dte sp loction riydh sudi rbi durtion ...,22,2,1,Remote,Remote,Information Technology and Services,59,2531,5 7 years,5,NaN,Higher Vocational Education,Higher Vocational Education
27782,Legal Secretary,Recruitme,Entry level,Administrative,Information Services,the roleour client n terntionl lw firm seek...,5,11,4,Riyadh,Riyadh,Information Services,5,6071,2 years,2,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
24887,Architect,Arabian developers consulting,Director,Design Engineering Project Management,Architecture Planning,the idel cidte will be qulified rchitect who ...,20,10,4,Jazan,Jazan,Architecture Planning,1,4860,3 years,3,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
35065,Process TechnicianMachine Operator,Plastipak Packaging Inc,Entry level,Management Manufacturing,Food Beverages Packaging and Containers Food ...,plstipk pckgg globl dustry leder the design...,9,12,4,Madinah,Medina,Food Beverages,2,7809,NaN,3,diploma,diploma,diploma
9849,Defense Project Management,AIQU,MidSenior level,Information Technology,Staffing and Recruiting,currently we re hirg defense project mngement...,26,5,2,Riyadh,Riyadh,Staffing and Recruiting,101,2389,NaN,3,NaN,Higher Vocational Education,Higher Vocational Education
29856,Director of Content Publishing,HillKnowlton Strategies,Director,Marketing Public Relations WritingEditing,Marketing and Advertising Information Technolo...,descriptionposition t hill knowlton strtegieso...,19,11,4,Riyadh,Riyadh,Marketing and Advertising,103,6071,NaN,3,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
20167,Compliance Manager,Tabuk Pharmaceuticals Manufacturing Company,MidSenior level,Other,Pharmaceuticals,responsibilities1 qms dherence oversight 2 u...,15,9,3,Tabuk,Tabuk,Pharmaceuticals,14,4031,0 years,0,bachelor,bachelor,bachelor
40139,Location Manager QSR,Jobskey Search and Selection,MidSenior level,Marketing Public Relations WritingEditing,Food Beverages,duties responsibilities determe the brnch loc...,30,12,4,Jeddah,Makkah,Food Beverages,253,7809,NaN,3,bachelor,bachelor,bachelor
16681,Harbor Master,Parsons Corporation,Not Applicable,Other,Civil Engineering,showcse your skills while stfyg your thirst f ...,17,8,3,Jazan,Jazan,Civil Engineering,935,2879,f year,3,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
1368,Project Operation Manager,Baker Hughes,Associate,Management Manufacturing,Information Technology and Services Industrial...,project opertion mnger job number 1819108 ...,28,1,1,Jeddah,Makkah,Information Technology and Services,415,2339,8 years,8,bachelor,bachelor,bachelor
21337,Chief Transformation Officer,Cooper Fitch DMCC,Executive,Management General Business StrategyPlanning,Investment Management Information Technology a...,the cto will be responsible to drive trnsfmtio...,24,9,3,Riyadh,Riyadh,Investment,1,4031,0 years,0,master,master,master
17341,Senior Data Center Officer,TAHAKOM,MidSenior level,Engineering Information Technology Design,Information Technology and Services,bout thkom sudi technology security comprehen...,23,8,3,Riyadh,Riyadh,Information Technology and Services,45,2879,4 to 6 year,4,bachelor,bachelor,bachelor
39198,Integrated Marketing Supervisor,Mmrt,MidSenior level,Marketing Sales,Marketing and Advertising,plnng gnizg implementg mrketg ctivities tht ...,24,12,4,Makkah,Makkah,Marketing and Advertising,3,7809,NaN,3,NaN,Higher Vocational Education,Higher Vocational Education
28975,Production Planner Electrical,Rawabi Holding Co,Associate,Management Manufacturing,Retail,the rolecompny description rwbi holdg compny o...,14,11,4,Dammam,Eastern,Retail,36,6071,0 years,0,diploma,diploma,diploma
37809,Amazon Picker Packer Immediate Hire FullTime,AllRetailJobscom,Entry level,Management Manufacturing,Automotive Staffing and Recruiting Retail,compny mzon wkfce stffgshiftsjob description ...,19,12,4,Madinah,Medina,Automotive,430,7809,8 years,8,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
33228,FEMALE Medical Representative,Pharma Company,Entry level,Sales Business Development,Pharmaceuticals,one the most fst growgsudi rbin compniesspeci...,2,12,4,Riyadh,Riyadh,Pharmaceuticals,3,7809,0 years,0,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
1331,Area Manager Cardiorenal Riyadh,Vifor Pharma,Associate,General Business Sales,Pharmaceuticals Biotechnology,t th position you will provide spirtionl lede...,28,1,1,Remote,Remote,Pharmaceuticals,10,2339,3 years,3,bachelor,bachelor,bachelor
38756,Contract Administrator,Parsons Corporation,Not Applicable,Management Manufacturing,Construction Information Technology and Servic...,ts job id r106498 job loction s s22 mdhmimu...,23,12,4,Madinah,Medina,Construction,935,7809,8 years,8,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
3044,Investment Manager,Binding Partnerships,MidSenior level,Finance,Investment Banking,job title vestment mngerdustry vestment bnkg...,29,2,1,Jeddah,Makkah,Investment,31,2531,7 years,7,bachelor,bachelor,bachelor
22616,SAP ABAP Consultant,LTI Larsen Toubro Infotech,Associate,Information Technology,Information Technology and Services,job description t lest 5 yers experience sp ...,5,10,4,Yanbu,Medina,Information Technology and Services,54,4860,5 years,5,NaN,Higher Vocational Education,Higher Vocational Education
10687,Software Quality Assurance Engineer,Marn مرن,MidSenior level,Quality Assurance Information Technology,Financial Services Information Technology and ...,greetgs we re lookg f qulity ssurnce q enge...,4,6,2,Riyadh,Riyadh,Financial Services,4,2724,3 years,3,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
183,Account Manager Saudi National Only,Confidential,Associate,Sales Business Development,Medical Devices Hospital Health Care Pharmace...,the m purpose oil gs ccount mnger duty to ...,6,1,1,Dammam,Eastern,Medical,724,2339,NaN,3,NaN,Higher Vocational Education,Higher Vocational Education
34576,Sr Cost Engineer,Hill International Inc,Associate,Management Manufacturing,Civil Engineering Construction Management Cons...,hill terntionl n terntionl construction consu...,8,12,4,Dammam,Eastern,Civil Engineering,52,7809,e year,3,bachelor,bachelor,bachelor
17830,Head Waiter,Wealth Co Ltd,Executive,Management Manufacturing,Restaurants Food Beverages,responsibilitiesto be perfectly groomed prese...,27,8,3,Riyadh,Riyadh,Restaurants,7,2879,entry,2,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
36906,Embedded C Developer Fulltime Remote,Toptal,MidSenior level,Engineering Information Technology,Information Technology and Services Computer S...,design your lifestyle s top freelnce develope...,15,12,4,Dammam,Eastern,Information Technology and Services,405,7809,2 years,2,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
34038,IT Business Application Senior Manager,MenaBev,MidSenior level,Information Technology Management Business Dev...,Food Beverages,role purpose responsible f mtg novtg sp bsed...,6,12,4,Jeddah,Makkah,Food Beverages,5,7809,NaN,3,NaN,Higher Vocational Education,Higher Vocational Education
39540,Inside Sales Representative Eastern EU,Plume Design Inc,Entry level,Sales Business Development,Information Technology and Services Computer S...,we re lookg f stellr closer to jo our cpte sl...,27,12,4,Alsharqiyah,Eastern,Information Technology and Services,2,7809,year,3,Higher Vocational Education,Higher Vocational Education,Higher Vocational Education
19317,Account Manager,al ajab group,MidSenior level,Administrative Information Technology Management,Oil Energy Construction,job description we re lookg f n ccountg mnger...,9,9,3,Dammam,Eastern,Oil Energy,36,4031,NaN,3,master,master,master
1754,Mechanical EngineerRiyadh Saudi Arabia,AFRY,Entry level,Engineering Information Technology,Construction Mechanical or Industrial Engineer...,the mechnicl engeer shll hve degree mechnicl...,7,2,1,Riyadh,Riyadh,Construction,1266,2531,0 years,0,diploma,diploma,diploma

In [137]:
#drop unneeded columns 
df= df.drop(['degree'], axis=1)
df= df.drop(['degree_int'], axis=1)
df= df.drop(['years_of_ex'], axis=1)

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40500 entries, 0 to 40499
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   position          40500 non-null  object
 1   company           40500 non-null  object
 2   level             40500 non-null  object
 3   job_functions     40500 non-null  object
 4   industries        40500 non-null  object
 5   description       40500 non-null  object
 6   day               40500 non-null  int64
 7   month             40500 non-null  int64
 8   quarter           40500 non-null  int64
 9   city              40500 non-null  object
 10  Regions           40500 non-null  object
 11  industry_cat      40500 non-null  object
 12  TotalPositions    40500 non-null  int64
 13  PositionsByMonth  40500 non-null  int64
 14  year_of_ex        40500 non-null  int64
 15  degrees           40500 non-null  object
dtypes: int64(6), object(10)
memory usage: 4.9+ MB

In [139]:
df.head(50)

,position,company,level,job_functions,industries,description,day,month,quarter,city,Regions,industry_cat,TotalPositions,PositionsByMonth,year_of_ex,degrees
0,Employee Engagement Specialist,PepsiCo,MidSenior level,Human Resources,Consumer Goods Food Beverages,uto req id 199735brjob descriptionpepsico sud...,6,1,1,Riyadh,Riyadh,Consumer Goods,219,2339,3,bachelor
1,Account Manager GPS Riyadh,EY,Not Applicable,Sales Business Development,Accounting Financial Services,busess where re our people re our products ...,6,1,1,Riyadh,Riyadh,Accounting,101,2339,7,Higher Vocational Education
2,Business Analyst,تطوير تقنيات التعليم Tatweer Educational Tech...,MidSenior level,Business Development Sales,Information Technology and Services,the idel cidte will design gnize modify the...,6,1,1,Riyadh,Riyadh,Information Technology and Services,16,2339,5,bachelor
3,Talent Acquisition Advisor,WSP in the Middle East,Associate,Finance,Construction,thk bigger scle thk higher prile thk ground ...,6,1,1,Riyadh,Riyadh,Construction,43,2339,5,Higher Vocational Education
4,Organisational Design Specialist,Aventus Global Talent,MidSenior level,Human Resources Design,Financial Services Banking,gntionl design specilt estern region sudi rb...,6,1,1,Remote,Remote,Financial Services,28,2339,5,bachelor
5,Quality Specialist,Takamol Holding,Associate,Analyst Consulting Quality Assurance,Management Consulting,m ccountbilities fmilirity kp buildg rev...,6,1,1,Riyadh,Riyadh,Management Consulting,23,2339,2,bachelor
6,Events Operations Manager,Aggreko,MidSenior level,Management Manufacturing,Marketing and Advertising Mechanical or Indust...,bout ggreko plcround the wld people busesses...,6,1,1,Jeddah,Makkah,Marketing and Advertising,24,2339,3,bachelor
7,Business Analyst,ALKHALEEJ COMPUTERS ELECTRONIC SYSTEMS,Associate,Business Development Sales,Information Technology and Services Banking,the seni busess nlyst will be key contct use...,6,1,1,Riyadh,Riyadh,Information Technology and Services,6,2339,3,Higher Vocational Education
8,Program ManagerEasternSouthernNorthernWestern ...,Elm Company,Associate,Project Management Information Technology,Information Technology and Services,role purposeresponsible f plnng implementtion...,6,1,1,Riyadh,Riyadh,Information Technology and Services,22,2339,8,Higher Vocational Education
9,Project manager,AECOM,MidSenior level,Project Management,Architecture Planning Civil Engineering Const...,sudi rbi r riyd riydh job summry mnges one ...,6,1,1,Riyadh,Riyadh,Architecture Planning,364,2339,2,bachelor
10,Human Resources Coordinator,Courtyard by Marriott,Entry level,Human Resources,Restaurants Staffing and Recruiting Hospitality,me thn 330 mnged loctions me thn 20 countrie...,6,1,1,Riyadh,Riyadh,Restaurants,55,2339,3,Higher Vocational Education
11,Configurations Quality Specialist,HungerStation هنقرستيشن,MidSenior level,Business Development Analyst Quality Assurance,Internet,to implement qulity control on configurtion pr...,6,1,1,Riyadh,Riyadh,Internet,196,2339,2,bachelor
12,Head Of Human Resources,Wisayah Investment Company,MidSenior level,Management Training Human Resources,Investment Management Financial Services Banking,the position hed humn resourcesloction dhhr...,6,1,1,Khobar,Eastern,Investment,7,2339,3,bachelor
13,Project Manager,SAUDI TAAB CONTRACTING CO,MidSenior level,Engineering,Construction,cidte should hve mimum bchel degree electricl...,6,1,1,Riyadh,Riyadh,Construction,1,2339,3,Higher Vocational Education
14,Purchasing Officer,AlJammaz Group,Associate,Purchasing Supply Chain,Investment Management Information Technology a...,complete wk cycle purchsg 1 plcg der vends ...,6,1,1,Riyadh,Riyadh,Investment,4,2339,3,Higher Vocational Education
15,Digital Product Manager,speedi,MidSenior level,Product Management Business Development Analyst,Online Media Supermarkets Retail,product mnger pssionte bout buildg products t...,6,1,1,Riyadh,Riyadh,Online Media,17,2339,5,master
16,Logistics Coordinator,National Oilwell Varco,Entry level,Management Manufacturing,Mechanical or Industrial Engineering Staffing ...,wks trnspttion wrehousg goods processes de...,6,1,1,Dammam,Eastern,Mechanical,124,2339,3,diploma
17,Cinema Manager,TGC Consulting Middle East,MidSenior level,Other,Information Technology and Services Staffing a...,job description roleth opptunity lrge cem...,6,1,1,Dammam,Eastern,Information Technology and Services,3,2339,5,Higher Vocational Education
18,Business Analyst MS Excel Expert,Jobskey Search and Selection,MidSenior level,Business Development Sales,Consumer Electronics,we re lookg f busess nlyst key ccount nlyst wh...,6,1,1,Riyadh,Riyadh,Consumer Electronics,253,2339,3,master
19,Graphic Web Designer,ekuepcom,Associate,Design Marketing ArtCreative,Retail Restaurants,we re lookg to hire full time web designer ...,6,1,1,Remote,Remote,Retail,15,2339,3,Higher Vocational Education
20,Associate DirectorDigital Delivery,The Red Sea Development Company,Associate,Consulting Engineering,Civil Engineering,reptg to the digitl delivery direct the ssocit...,6,1,1,Riyadh,Riyadh,Civil Engineering,64,2339,5,master
21,HR Business Partner Travel Tourism Saudi Na...,Michael Page,MidSenior level,Human Resources,Leisure Travel Tourism,hr busess prtner trvel tourm sudi ntionl...,6,1,1,Jeddah,Makkah,Leisure Travel Tourism,92,2339,4,bachelor
22,Receptionst AF Retail Riyadh,AlFuttaim,Not Applicable,Sales Business Development,Retail,job requition id 40968no two dys re the sme t...,6,1,1,Riyadh,Riyadh,Retail,61,2339,1,Higher Vocational Education
23,Product Specialist Looking for candidates resi...,Eon Dental,Associate,Sales Business Development Product Management,Medical Devices,the product specilt lookg f cidtes residg ks...,6,1,1,Riyadh,Riyadh,Medical,1,2339,3,bachelor
24,Sales Coordinator,Abdullah Hashim Industrial Gases and equipment,Entry level,Sales Customer Service General Business,Oil Energy Construction Business Supplies and...,the idel cidte will be the pot contct f colle...,6,1,1,Remote,Remote,Oil Energy,2,2339,2,bachelor
25,Health Safety and Environmental Officer Saudi...,Atkins,Entry level,Other,Construction Information Technology and Servic...,we require helth sfety environmentl ficer t...,6,1,1,Riyadh,Riyadh,Construction,98,2339,5,diploma
26,وظائف نسائية للعمل في توثيق وضبط جودة أنظمة ال...,Applied Computer Services Company HASIB,Entry level,Information Technology Quality Assurance,Information Technology and Services Computer S...,functionl testggui test...,6,1,1,Riyadh,Riyadh,Information Technology and Services,6,2339,3,master
27,HR GeneralistSaudi National,Sacoor Brothers,Entry level,Human Resources,Apparel Fashion,serve s n escltion pot f personnel employee r...,6,1,1,Riyadh,Riyadh,Apparel Fashion,3,2339,3,Higher Vocational Education
28,Sales Specialist,ALJEEL MEDICAL AND TRADING CO LTD,MidSenior level,Sales Customer Service Distribution,Medical Devices Hospital Health Care Business...,sles specilt responsibilities genertg leds mee...,6,1,1,Jeddah,Makkah,Medical,16,2339,3,bachelor
29,Sales Support Executive Saudi National Female,Alhamrani Universal,Associate,Sales Business Development,Information Technology and Services,position summry sles suppt executive provide c...,6,1,1,Riyadh,Riyadh,Information Technology and Services,5,2339,2,Higher Vocational Education
30,HR Director,maptalent,Director,Human Resources,Government Administration Real Estate,qulifictions degree holder cipd gphr shrm ...,6,1,1,Riyadh,Riyadh,Government Administration,47,2339,0,master
31,Assistant Director of Engineering,Four Seasons Hotels and Resorts,Not Applicable,Engineering,Leisure Travel Tourism Hospitality,t four sesons we believe recogng fmilir fce...,6,1,1,Riyadh,Riyadh,Leisure Travel Tourism,90,2339,3,bachelor
32,Integrated Marketing Programs Manager Job,SAP,Not Applicable,Marketing,Computer Software Information Technology and S...,requition id 241132wk re mrketgexpected trve...,6,1,1,Riyadh,Riyadh,Computer Software,42,2339,7,Higher Vocational Education
33,Guest Services Associate Saudi National Only,Le Méridien,Entry level,Management Manufacturing,Food Beverages Retail Hospitality,t le mridien we believe helpg guests unlock ...,6,1,1,Riyadh,Riyadh,Food Beverages,74,2339,3,Higher Vocational Education
34,URGENT JOB OPENING FOR NAJRAN SAUDI ARABIA,Delhi Manpower Express,Not Applicable,Other,Staffing and Recruiting Medical Practice Hospi...,job description only muslim chrtin cn pply d...,6,1,1,Madinah,Medina,Staffing and Recruiting,2,2339,3,Higher Vocational Education
35,Financial Reporting Senior Specialist,Bahri البحري,MidSenior level,AccountingAuditing,Maritime,job summry sst the preprtion full set bhri ...,6,1,1,Riyadh,Riyadh,Maritime,17,2339,5,bachelor
36,Accountant,Sisco Jobs,Associate,AccountingAuditing Finance,Construction Mechanical or Industrial Engineer...,job descriptionccountnt3 5 yerssudi rbijob d...,6,1,1,Jeddah,Makkah,Construction,26,2339,5,bachelor
37,Application Support Section Head,GAZT General Authority of Zakat Tax,MidSenior level,Information Technology,Government Administration,job purpose the ppliction suppt section hed r...,6,1,1,Riyadh,Riyadh,Government Administration,6,2339,6,bachelor
38,Manager,Nielsen,Not Applicable,Other,Market Research Management Consulting,mnger 50942client services sles sudi rbi ...,6,1,1,Riyadh,Riyadh,Market Research,5,2339,5,Higher Vocational Education
39,Mechanical Engineer Projects Experience,Aramco,MidSenior level,Engineering Information Technology,Information Technology and Services Oil Energ...,position descriptionwe re seekg n experienced ...,6,1,1,Dhahran,Eastern,Information Technology and Services,190,2339,0,diploma
40,Mechanical Supervisor,The RitzCarlton Hotel Company LLC,MidSenior level,Engineering Information Technology,Restaurants Leisure Travel Tourism Hospitality,t me thn 80 wrd wng properties wldwide the ri...,6,1,1,Riyadh,Riyadh,Restaurants,73,2339,3,bachelor
41,Business Resilience Manager,Mackenzie Jones Middle East,MidSenior level,Information Technology,Management Consulting,job purpose project delivery sst enterpres ...,6,1,1,Riyadh,Riyadh,Management Consulting,29,2339,8,Higher Vocational Education
42,Marketing Campaign Manager,IBM,MidSenior level,Marketing,Information Technology and Services Computer S...,troductiont ibm wk me thn job it s cllg ...,6,1,1,Riyadh,Riyadh,Information Technology and Services,156,2339,3,Higher Vocational Education
43,KSA National Sales Manager Pharmacies,Henkel,Not Applicable,Sales Business Development,Consumer Goods,henkel f those who step up do you t henkel ...,6,1,1,Jeddah,Makkah,Consumer Goods,38,2339,3,Higher Vocational Education
44,Business Analyst plus leading an Application S...,JPMorgan Chase Co,Associate,Information Technology,Information Technology and Services Financial ...,the cib technology tem sudi rbi hs responsibi...,6,1,1,Riyadh,Riyadh,Information Technology and Services,21,2339,3,Higher Vocational Education
45,Property Manager,Savills,MidSenior level,Management Customer Service,Real Estate,we re urgently lookg f property mngersto be bs...,6,1,1,Riyadh,Riyadh,Real Estate,1,2339,3,bachelor
46,Employee Engagement Specialist,PepsiCo,MidSenior level,Human Resources,Consumer Goods Food Beverages,uto req id 199735brjob descriptionpepsico sud...,6,1,1,Riyadh,Riyadh,Consumer Goods,219,2339,3,bachelor
47,Manufacturing Operator,DuPont,Entry level,Management Manufacturing,Biotechnology Chemicals Farming,descriptionth position const wkg s technicl ...,6,1,1,Dammam,Eastern,Biotechnology,7,2339,0,diploma
48,Data Scientist and Analytics,Devoteam,Entry level,Engineering Information Technology,Information Technology and Services Computer S...,compny descriptionwe re entrepreneurs druptiv...,6,1,1,Riyadh,Riyadh,Information Technology and Services,215,2339,4,bachelor
49,Human Resources Director,The Marketing Department TMD,MidSenior level,Human Resources Administrative Management,Marketing and Advertising,we re lookg f n experienced humn resources dir...,6,1,1,Riyadh,Riyadh,Marketing and Advertising,6,2339,3,master

### >> Extract csv file

In [140]:
#extract csv file after preprocessing

df.to_csv('data_jobs.csv')